body{
	letter-spacing: 3px;
	background-color: #eee; 
    font-size: 14px;
    background-image: url(../img/marble.jpg);
    background-size: repeat;
    background-attachment: fixed;
   
}

@media only screen and (max-width: 768px){
    header{
        visibility: hidden;
    }
}

.wrap{
    margin-left: 200px;
    line-height: 28px;
}

.wrapCenter{
	width: 80%;
	margin: auto;
}

@media only screen and (max-width: 768px){
    .wrap{
        margin-left: 0;
    }

    .wrapCenter{
        width: 95%;
    }
}

.title{
	text-align: center;
	padding: 3%;
	font-size: 34px;
	letter-spacing: 15px;
}

table{
    margin: 3% auto;
}

.itemHead{
    border-bottom: 1px solid #333333;
}

.confirm{
    text-align: center;
}

.confirm a{
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 100px;
    width: 150px;
    padding: 1% 5%;
    color: #333;
}

.confirm a:hover{
    background-color: #EAAF88;
    border: 2px solid #EAAF88;
    color: #fff;
}

#count{
    width: 50px;
}