/* rest css  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* */
header {
  background-color: #EAAF88;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 15px;
  box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315);
  z-index: 9999999;
  text-align: left;
}

header .logo {
  position: relative;
  top: 70px;
  width: 180px;
  text-align: center;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header .logo img {
  width: 90%;
}

header ul {
  position: absolute;
  bottom: 180px;
}

header ul li {
  margin: 1px 0;
  position: relative;
}

header ul li:hover {
  background-color: #fff;
  transition: .3s;
}

header ul li:hover a {
  color: #000;
  transition: .3s;
}

header ul li a {
  width: 185px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
}

header ul .active a {
  color: #000;
}

header .icons {
  width: 180px;
  display: flex;
  padding: 15px;
  padding-right: 20px;
  justify-content: space-around;
  position: absolute;
  bottom: 40px;
}

header .icons #like {
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  color: #d33;
  top: -17px;
  right: -25px;
  font-family: notoSans_b;
}

header .icons a {
  text-decoration: none;
  color: #fff;
}

header .icons a:hover {
  transform: scale(1.15);
  transition: .3s;
}

.active {
  background-color: #fff;
  box-shadow: -3px 3px 5px rgba(63, 62, 62, 0.199);
}
.active::after {
  z-index: -1;
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background-color: #fff;
  position: absolute;
  top: 6.5px;
  right: -16px;
  transform: rotate(45deg);
  box-shadow: 3px 3px 5px rgba(63, 62, 62, 0.199);
}

html {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  background-image: url(../img/marble.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-size: 28px;
  margin-top: 2%;
  transition: .3s;
}

h2 {
  text-align: left;
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.container {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #ccc;
  max-width: 991px;
  width: 100%;
  margin: 0 auto;
  margin-top: 3%;
}

.post-ab {
  text-align: left;
}
.post-ab span {
  margin: 1%;
  opacity: .7;
}

.post-body {
  text-align: left;
  padding: 2%;
  margin-top: 2%;
}

.post-ft {
  margin-top: 2%;
  text-align: right;
}

.btn {
  border: #000 2px solid;
  border-radius: 24px;
  padding: 4px 30px;
  background-color: transparent;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  border: 2px solid #ccc;
  background-color: #EAAF88;
  transition: .3s;
}

@media screen and (min-width: 992px) {
  .m-box {
    margin-left: 200px;
  }
}
@media screen and (max-width: 991px) {
  header {
    display: none;
  }
}
@media screen and (max-width: 651px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
}
.postfrom {
  max-width: 991px;
  width: 100%;
  margin: 2% auto;
  background-color: red;
  text-align: left;
  background-color: #eee;
  border: 1px solid rgba(241, 209, 146, 0.815);
}
.postfrom p {
  padding: 5px;
  background-color: #ccc;
}

.post-select {
  padding: 5px;
  margin-top: 5px;
}
.post-select input {
  width: 87.5%;
}

.text-tar {
  padding: 5px;
}
.text-tar textarea {
  resize: none;
  width: 99.9%;
}

.btns {
  margin: 1%;
  text-align: right;
}

/*# sourceMappingURL=forum-p1.css.map */
