/* rest css  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* */
header {
  background-color: #EAAF88;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-left: 15px;
  box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315);
  z-index: 9999999;
  text-align: left;
}

header .logo {
  position: relative;
  top: 70px;
  width: 180px;
  text-align: center;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header .logo img {
  width: 90%;
}

header ul {
  position: absolute;
  bottom: 180px;
}

header ul li {
  margin: 1px 0;
  position: relative;
}

header ul li:hover {
  background-color: #fff;
  transition: .3s;
}

header ul li:hover a {
  color: #000;
  transition: .3s;
}

header ul li a {
  width: 185px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
}

header ul .active a {
  color: #000;
}

header .icons {
  width: 180px;
  display: flex;
  padding: 15px;
  padding-right: 20px;
  justify-content: space-around;
  position: absolute;
  bottom: 40px;
}

header .icons #like {
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  color: #d33;
  top: -17px;
  right: -25px;
  font-family: notoSans_b;
}

header .icons a {
  text-decoration: none;
  color: #fff;
}

header .icons a:hover {
  transform: scale(1.15);
  transition: .3s;
}

.active {
  background-color: #fff;
  box-shadow: -3px 3px 5px rgba(63, 62, 62, 0.199);
}
.active::after {
  z-index: -1;
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  right: -17px;
  transform: rotate(45deg);
  box-shadow: 3px 3px 5px rgba(63, 62, 62, 0.199);
}

html {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  background-image: url(../img/marble.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
}

.forum-title:hover {
  cursor: pointer;
  color: #EAAF88;
}

h1 {
  font-size: 28px;
  transition: .3s;
}

.rwd-img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 991px;
  margin: 0 auto;
  margin-top: 5%;
}

.row {
  display: table;
  margin-top: 40px;
}

.col {
  display: table-cell;
}

.forum-list {
  margin-top: 5%;
}
.forum-list li {
  letter-spacing: 2px;
  padding: 20px 0;
  margin: 0 10px;
  width: 25%;
  border: 2px solid black;
  display: inline-block;
}
.forum-list li:hover {
  cursor: pointer;
  color: #fff;
  border: 2px solid #ccc;
  background-color: #EAAF88;
  transition: .3s;
}

.post-list {
  background-color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
  padding: 5%;
  width: 39%;
  border: 2px solid #ccc;
}
.post-list li {
  margin-top: 6%;
  text-align: left;
}
.post-list li a {
  color: #000;
}
.post-list li a:hover {
  cursor: pointer;
  color: #EAAF88;
  transition: .3s;
}
.post-list li:last-child {
  margin-top: 15%;
  text-align: right;
}

.cat-img {
  padding: 5px;
  width: 59%;
  background-color: #fff;
}

.post-header {
  text-align: left;
}
.post-header::after {
  content: "";
  display: block;
  margin: 10% auto;
  width: 100%;
  border-bottom: 2px solid #ccc;
}

.btn {
  border: #000 2px solid;
  border-radius: 24px;
  padding: 4px 30px;
  background-color: transparent;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  border: 2px solid #ccc;
  background-color: #EAAF88;
  transition: .3s;
}

@media screen and (min-width: 992px) {
  .m-box {
    margin-left: 200px;
  }
}
@media screen and (max-width: 991px) {
  header {
    display: none;
  }

  .post-header {
    margin-top: 5%;
  }

  .post-list {
    padding: 2%;
  }
}
@media screen and (min-width: 652px) {
  .fbox .row:nth-child(2) .col {
    position: relative;
  }
  .fbox .row:nth-child(2) .cat-img {
    right: -40%;
  }
  .fbox .row:nth-child(2) .post-list {
    right: 60%;
  }
}
@media screen and (max-width: 829px) {
  .post-header {
    margin-top: 3%;
  }
  .post-header::after {
    margin: 5% auto;
  }
}
@media screen and (max-width: 651px) {
  h1 {
    font-size: 20px;
  }

  .forum-list li {
    letter-spacing: 1px;
    padding: 3% 0;
    margin: 0 1%;
  }

  .row {
    margin-top: 10%;
  }

  .col {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
}
.po-list {
  margin: 0 3%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.po-title {
  text-align: left;
  display: inline-block;
  width: 65%;
}
.po-title a {
  color: #000;
}
.po-title a:hover {
  cursor: pointer;
  color: #EAAF88;
  transition: .3s;
}
.po-title h3 {
  display: inline-block;
  margin-left: 5%;
}

.po-time {
  display: inline-block;
  width: 34%;
  text-align: right;
}
.po-time span {
  margin: 0 5%;
}

@media screen and (max-width: 465px) {
  .po-title {
    width: 100%;
    display: block;
  }

  .po-time {
    width: 100%;
    margin-top: 5px;
    margin-left: 4%;
  }
}
.f-active {
  color: #fff;
  border: 2px solid #ccc;
  background-color: #EAAF88;
  transition: .3s;
}

.fbox {
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  opacity: 0;
}

.pbox {
  visibility: hidden;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  opacity: 0;
}

.s-active {
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 2s;
}

.postfrom {
  max-width: 991px;
  width: 100%;
  margin: 2% auto;
  background-color: red;
  text-align: left;
  background-color: #eee;
  border: 1px solid rgba(241, 209, 146, 0.815);
}
.postfrom p {
  padding: 5px;
  background-color: #ccc;
}

.post-select {
  padding: 5px;
  margin-top: 5px;
}
.post-select input {
  width: 87.5%;
}

.text-tar {
  padding: 5px;
}
.text-tar textarea {
  resize: none;
  width: 99.9%;
}

.btns {
  margin: 1%;
  text-align: right;
}

/*# sourceMappingURL=forum.css.map */
