/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

@font-face {
  font-family: notoSans;
  src: url("../fonts/NotoSansCJKtc-Thin.otf"); }

@font-face {
  font-family: notoSans_r;
  src: url("../fonts/NotoSansCJKtc-Regular.otf"); }

@font-face {
  font-family: notoSans_b;
  src: url("../fonts/NotoSansCJKtc-Black.otf"); }

input, select {
  font-family: notoSans_r; }

body {
  font-family: notoSans;
  letter-spacing: 3px; }

.fa-mars {
  color: deepskyblue; }

.fa-venus {
  color: #fc516d; }

.container {
  max-width: 991px;
  margin: 0 auto; }

input, select {
  outline: none; }

header {
  background-color: #eaaf88;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-left: 15px;
  box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315);
  z-index: 999; }
  header .logo {
    position: relative;
    top: 70px;
    width: 180px;
    text-align: center; }
    header .logo a {
      text-decoration: none;
      color: #fff; }
    header .logo img {
      width: 90%; }
  header ul {
    position: absolute;
    bottom: 180px; }
    header ul li {
      margin: 1px 0;
      position: relative; }
      header ul li:hover {
        background-color: #fff;
        box-shadow: -2px 3px 6px rgba(63, 62, 62, 0.397);
        transition: .3s; }
      header ul li:hover a {
        color: #000;
        transition: .3s; }
      header ul li a {
        width: 185px;
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 20px; }
  header .icons {
    width: 180px;
    display: flex;
    padding: 15px;
    padding-right: 20px;
    justify-content: space-around;
    position: absolute;
    bottom: 40px; }
    header .icons #like {
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      display: block;
      width: 15px;
      height: 15px;
      position: relative;
      color: #d33;
      top: -17px;
      right: -25px;
      font-family: notoSans_b; }
    header .icons a {
      text-decoration: none;
      color: #fff; }
      header .icons a:hover {
        transform: scale(1.15);
        transition: .3s; }

footer {
  background-color: #f5eae3;
  margin-left: 200px;
  padding: 15px; }
  footer .follow {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer nav {
    margin: auto; }
    footer nav ul {
      display: flex;
      justify-content: space-around; }
      footer nav ul li {
        width: 20%;
        margin: 15px; }
        footer nav ul li:hover {
          transform: translateY(-3px);
          transition: .35s; }
        footer nav ul li a {
          text-align: center;
          border: 1px solid #333;
          text-decoration: none;
          color: #333;
          display: block;
          width: 100%;
          padding: 15px; }
  footer span {
    display: inline-block;
    position: relative;
    top: -20px;
    padding: 10px; }

@media all and (min-width: 768px) and (max-width: 991px) {
  footer {
    margin-left: 0;
    width: 100%; } }

@media all and (max-width: 767px) {
  footer {
    margin-left: 0;
    width: 100%; }
    footer span {
      display: block;
      text-align: center; } }

.btns .btn {
  font-size: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  transition: .35s;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  padding-left: 3px;
  padding-bottom: 3px;
  z-index: 1; }
  .btns .btn:hover:before {
    transition: .35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    top: -10%;
    left: -10%; }
  .btns .btn:before {
    content: '';
    display: block;
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
    top: 90%;
    left: -110%;
    z-index: -1; }

.btns .fa {
  vertical-align: middle; }

.btns .btn.facebook {
  color: #3b5998; }
  .btns .btn.facebook:before {
    background-color: #3b5998; }
  .btns .btn.facebook:hover {
    color: #fff; }

.btns .btn.twitter {
  color: #3cf; }
  .btns .btn.twitter:before {
    background-color: #3cf; }
  .btns .btn.twitter:hover {
    color: #fff; }

.btns .btn.google {
  color: #dc4a38; }
  .btns .btn.google:before {
    background-color: #dc4a38; }
  .btns .btn.google:hover {
    color: #fff; }

.btns .btn.youtube {
  color: #f00; }
  .btns .btn.youtube:before {
    background-color: #f00; }
  .btns .btn.youtube:hover {
    color: #fff; }

header ul li:nth-child(2) {
  background-color: #fff;
  box-shadow: -3px 3px 5px rgba(63, 62, 62, 0.199); }

header ul li:nth-child(2) a {
  color: #333;
  font-family: notoSans_r; }

header ul li:nth-child(2):after {
  z-index: -1;
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  right: -17px;
  transform: rotate(45deg);
  box-shadow: 3px 3px 5px rgba(63, 62, 62, 0.199); }

.right {
  background-image: url(../../images/marble.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 200px;
  padding-top: 30px; }
  .right .banner {
    background-image: url(../../images/halfdetail1.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    width: 85%;
    padding-top: 35%;
    margin: auto;
    position: relative; }
    .right .banner h2 {
      color: #333;
      letter-spacing: 10px;
      background-color: rgba(241, 209, 146, 0.815);
      color: #000;
      font-size: 36px;
      font-weight: bolder;
      width: 30%;
      text-align: center;
      position: absolute;
      top: -20px;
      left: 50%;
      line-height: 6vw; }
    .right .banner .intro {
      width: 70%;
      position: absolute;
      top: 55%;
      left: -3%;
      font-size: 18px;
      line-height: 2.0;
      padding: 20px;
      background-color: rgba(241, 232, 214, 0.815);
      z-index: 1;
      color: #111; }
    .right .banner .contact {
      width: 35%;
      position: absolute;
      top: 25%;
      left: 70%;
      font-size: 18px;
      line-height: 2.28571;
      padding: 20px;
      background-color: rgba(241, 232, 214, 0.815);
      z-index: 1;
      color: #111; }
    .right .banner .star {
      width: 38%;
      position: absolute;
      top: 90%;
      left: 65%;
      padding: 20px;
      background-color: rgba(241, 209, 146, 0.815);
      /****** Style Star Rating Widget *****/
      /***** CSS Magic to Highlight Stars on Hover *****/
      /* hover previous stars in list */ }
      .right .banner .star:after {
        content: '';
        display: block;
        clear: both; }
      .right .banner .star .rating {
        border: none;
        float: left; }
      .right .banner .star .rating > input {
        display: none; }
      .right .banner .star .rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005"; }
      .right .banner .star .rating > .half:before {
        content: "\f089";
        position: absolute; }
      .right .banner .star .rating > label {
        color: #fff;
        float: right; }
      .right .banner .star .rating > input:checked ~ label,
      .right .banner .star .rating:not(:checked) > label:hover,
      .right .banner .star .rating:not(:checked) > label:hover ~ label {
        color: #f3284a; }
      .right .banner .star .rating > input:checked + label:hover,
      .right .banner .star .rating > input:checked ~ label:hover,
      .right .banner .star .rating > label:hover ~ input:checked ~ label,
      .right .banner .star .rating > input:checked ~ label:hover ~ label {
        color: #f3284a; }
      .right .banner .star .text {
        width: 68%;
        float: left;
        text-align: center;
        font-size: 18px; }
        .right .banner .star .text span {
          font-size: 27px; }
  .right .smallintro {
    display: none; }
  .right .halfwaypic {
    margin: 6% auto; }
    .right .halfwaypic .container {
      display: flex;
      justify-content: space-around; }
      .right .halfwaypic .container .picture {
        width: 25%;
        margin: 0 10px; }
        .right .halfwaypic .container .picture img {
          width: 100%; }
  .right .cat {
    background-image: url(../../images/catbg2.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden; }
    .right .cat .flycat {
      width: 70px;
      overflow: hidden;
      animation: aa 10s linear infinite; }
      .right .cat .flycat:nth-child(2) {
        position: absolute;
        top: -2%;
        left: 5%; }
      .right .cat .flycat:nth-child(3) {
        position: absolute;
        top: -2%;
        left: 90%; }

@keyframes aa {
  100% {
    top: 100%; } }
    .right .cat h2 {
      color: #333;
      font-weight: bold;
      letter-spacing: 15px;
      width: 90%;
      margin: auto;
      padding: 5%;
      text-align: center;
      font-size: 30px; }
    .right .cat .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .right .cat .container .catitem {
        position: relative;
        margin: 0 15px 30px 15px;
        width: 25%; }
        .right .cat .container .catitem .favorite {
          position: absolute;
          top: 10px;
          right: 10px;
          color: #fa3737;
          font-size: 30px;
          z-index: 3; }
        .right .cat .container .catitem img {
          width: 100%; }
        .right .cat .container .catitem .text {
          font-size: 14px;
          line-height: 1.71429;
          padding: 10px; }
          .right .cat .container .catitem .text h3 {
            font-size: 24px;
            font-weight: bold; }
  .right .map {
    width: 80%;
    margin: auto;
    padding-bottom: 5%; }
    .right .map #map {
      width: 100%;
      height: 450px; }
    .right .map h2 {
      color: #333;
      font-weight: bold;
      width: 90%;
      letter-spacing: 15px;
      margin: auto;
      padding: 5%;
      text-align: center;
      font-size: 30px; }
    .right .map img {
      width: 100%; }
  .right .talk {
    background-image: url(../../images/talk.jpg);
    background-attachment: fixed;
    background-position: 20%;
    background-repeat: no-repeat;
    padding-bottom: 3%; }
    .right .talk .container {
      width: 70%;
      margin: 0 auto; }
      .right .talk .container:after {
        content: '';
        display: block;
        clear: both; }
      .right .talk .container h2 {
        color: #333;
        font-weight: bold;
        letter-spacing: 15px;
        width: 90%;
        margin: auto;
        padding: 5%;
        text-align: center;
        font-size: 30px; }
      .right .talk .container .article {
        padding: 5px;
        margin-bottom: 5%;
        width: 55%;
        float: left;
        background: rgba(85, 136, 170, 0.788);
        border-radius: 20px; }
        .right .talk .container .article:nth-child(3), .right .talk .container .article:nth-child(5) {
          float: right; }
        .right .talk .container .article h3 {
          font-size: 24px;
          color: #EAAF88;
          padding: 10px; }
        .right .talk .container .article p {
          border: 1px dashed #fff;
          border-left: none;
          border-right: none;
          border-radius: 20px;
          color: #ddd;
          position: relative;
          padding: 10px;
          font-size: 14px;
          line-height: 1.42857; }
          .right .talk .container .article p a {
            display: flex;
            justify-content: flex-end;
            text-decoration: none;
            color: #EAAF88; }
            .right .talk .container .article p a:hover {
              color: #ddd; }
        .right .talk .container .article p:before,
        .right .talk .container .article p:after {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          position: absolute;
          background: rgba(85, 136, 170, 0.692);
          transform: rotate(45deg);
          bottom: -12px;
          left: 100px; }
        .right .talk .container .article p:after {
          height: 10px;
          width: 10px;
          bottom: -7px;
          border-right: 1px dashed #fff;
          border-bottom: 1px dashed #fff; }

@media all and (min-width: 768px) and (max-width: 991px) {
  header {
    display: none; }
  .right {
    padding: 0;
    margin: 0; }
    .right .banner {
      width: 100%;
      padding-top: 80vh;
      animation: bb 20s linear infinite; }
      .right .banner h2 {
        top: 3%;
        left: 3%;
        width: 60%;
        line-height: 8vw; }
      .right .banner .intro {
        display: none; }
      .right .banner .contact {
        width: 60%;
        top: 30vh;
        left: 0;
        right: 0;
        margin: auto; }
      .right .banner .star {
        left: 60%;
        top: 63vh; }
  @keyframes bb {
    20% {
      background-image: url(../images/halfdetail7_resized.jpg); }
    40% {
      background-image: url(../images/halfdetail5.jpg); }
    60% {
      background-image: url(../images/halfdetail6.jpg); }
    80% {
      background-image: url(../images/halfdetail4.jpg); } }
    .right .smallintro {
      display: block;
      background-color: #F1E8D6;
      padding: 30px 30px;
      font-size: 14px;
      line-height: 2.0; }
    .right .halfwaypic {
      display: none; }
    .right .cat .flycat {
      display: none; }
    .right .cat .container .catitem {
      width: 40%; }
    .right .talk .container .article {
      width: 100%;
      float: left;
      margin-bottom: 10%; } }

@media all and (max-width: 767px) {
  header {
    display: none; }
  .right {
    padding: 0;
    margin: 0; }
    .right .banner {
      width: 100%;
      padding-top: 80vh;
      animation: bb 20s linear infinite; }
      .right .banner h2 {
        top: 3%;
        left: 3%;
        width: 60%;
        line-height: 8vw; }
      .right .banner .intro {
        display: none; }
      .right .banner .contact {
        width: 60%;
        top: 20vh;
        left: 0;
        right: 0;
        margin: auto; }
      .right .banner .star {
        width: 60%;
        top: 55vh;
        left: 0;
        right: 0;
        margin: auto; }
        .right .banner .star .rating {
          font-size: 25.2px;
          margin: 0 auto; }
        .right .banner .star .text {
          width: 100%; }
  @keyframes bb {
    20% {
      background-image: url(../images/halfdetail7_resized.jpg); }
    40% {
      background-image: url(../images/halfdetail5.jpg); }
    60% {
      background-image: url(../images/halfdetail6.jpg); }
    80% {
      background-image: url(../images/halfdetail4.jpg); } }
    .right .halfwaypic {
      display: none; }
    .right .cat .flycat {
      display: none; }
    .right .cat .container .catitem {
      width: 50%; }
    .right .talk .container .article {
      width: 100%;
      float: left;
      margin-bottom: 10%; } }
