@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: notoSans;
  src: url("../fonts/NotoSansCJKtc-Thin.otf");
}

@font-face {
  font-family: notoSans_r;
  src: url("../fonts/NotoSansCJKtc-Regular.otf");
}

@font-face {
  font-family: notoSans_b;
  src: url("../fonts/NotoSansCJKtc-Black.otf");
}

input, select {
  font-family: notoSans_r;
}

body {
  font-family: notoSans;
  letter-spacing: 3px;
}

.fa-mars {
  color: deepskyblue;
}

.fa-venus {
  color: #fc516d;
}

.container {
  max-width: 991px;
  margin: 0 auto;
}

input, select {
  outline: none;
}

header {
  background-color: #eaaf88;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-left: 15px;
  box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315);
  z-index: 999;
}

header .logo {
  position: relative;
  top: 70px;
  width: 180px;
  text-align: center;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header .logo img {
  width: 90%;
}

header ul {
  position: absolute;
  bottom: 180px;
}

header ul li {
  margin: 1px 0;
  position: relative;
}

header ul li:hover {
  background-color: #fff;
  box-shadow: -2px 3px 6px rgba(63, 62, 62, 0.397);
  transition: .3s;
}

header ul li:hover a {
  color: #000;
  transition: .3s;
}

header ul li a {
  width: 185px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
}

header .icons {
  width: 180px;
  display: flex;
  padding: 15px;
  padding-right: 20px;
  justify-content: space-around;
  position: absolute;
  bottom: 40px;
}

header .icons #like {
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  color: #d33;
  top: -17px;
  right: -25px;
  font-family: notoSans_b;
}

header .icons a {
  text-decoration: none;
  color: #fff;
}

header .icons a:hover {
  transform: scale(1.15);
  transition: .3s;
}

footer {
  background-color: #f5eae3;
  margin-left: 200px;
  padding: 15px;
}

footer .follow {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav {
  margin: auto;
}

footer nav ul {
  display: flex;
  justify-content: space-around;
}

footer nav ul li {
  width: 20%;
  margin: 15px;
}

footer nav ul li:hover {
  transform: translateY(-3px);
  transition: .35s;
}

footer nav ul li a {
  text-align: center;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
  display: block;
  width: 100%;
  padding: 15px;
}

footer span {
  display: inline-block;
  position: relative;
  top: -20px;
  padding: 10px;
}

@media all and (max-width: 767px) {
  footer {
    margin-left: 0;
    width: 100%;
  }
  footer span {
    display: block;
    text-align: center;
  }
}

.btns .btn {
  font-size: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  transition: .35s;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  padding-left: 3px;
  padding-bottom: 3px;
  z-index: 1;
}

.btns .btn:hover:before {
  transition: .35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  top: -10%;
  left: -10%;
}

.btns .btn:before {
  content: '';
  display: block;
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
  top: 90%;
  left: -110%;
  z-index: -1;
}

.btns .fa {
  vertical-align: middle;
}

.btns .btn.facebook {
  color: #3b5998;
}

.btns .btn.facebook:before {
  background-color: #3b5998;
}

.btns .btn.facebook:hover {
  color: #fff;
}

.btns .btn.twitter {
  color: #3cf;
}

.btns .btn.twitter:before {
  background-color: #3cf;
}

.btns .btn.twitter:hover {
  color: #fff;
}

.btns .btn.google {
  color: #dc4a38;
}

.btns .btn.google:before {
  background-color: #dc4a38;
}

.btns .btn.google:hover {
  color: #fff;
}

.btns .btn.youtube {
  color: #f00;
}

.btns .btn.youtube:before {
  background-color: #f00;
}

.btns .btn.youtube:hover {
  color: #fff;
}

header ul li:nth-child(2) {
  background-color: #fff;
  box-shadow: -3px 3px 5px rgba(63, 62, 62, 0.199);
}

header ul li:nth-child(2) a {
  color: #333;
  font-family: notoSans_r;
}

header ul li:nth-child(2):after {
  z-index: -1;
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  right: -17px;
  transform: rotate(45deg);
  box-shadow: 3px 3px 5px rgba(63, 62, 62, 0.199);
}

.right {
  position: relative;
  margin-left: 200px;
  padding-bottom: 50px;
  background-image: url(../images/marble.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.right .searchsection {
  padding: 50px;
  width: 70%;
  margin: auto;
  background-color: #FEF2E6;
  box-shadow: 12px 10px 20px -10px #333;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.right .searchsection .flycat {
  width: 160px;
  position: absolute;
  top: 60%;
  left: 70%;
}

.right .searchsection .dropholder {
  width: 322px;
  height: 60px;
  margin: 80px auto 250px auto;
  padding: 0 0 0 20px;
  border-radius: 60px;
  font: 18px arial;
  color: #333;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #333;
  animation: move 3s ease-in-out infinite;
  position: relative;
}

.right .searchsection .dropholder:after {
  content: "";
  position: absolute;
  width: 250px;
  height: 5px;
  background: transparent;
  display: block;
  top: 250px;
  left: 37px;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  animation: moveShadow 3s ease-in-out infinite;
}

.right .searchsection .dropholder p {
  float: left;
  line-height: 60px;
  font-size: 14px;
}

.right .searchsection .dropholder:hover,
.right .searchsection .dropholder:hover:after {
  animation-play-state: paused;
}

.right .searchsection .dropdown > p {
  font-size: 14px;
}

.right .searchsection .dropdown,
.right .searchsection .dropholder {
  background-color: transparent;
}

.right .searchsection .dropdown {
  margin-left: 20px;
  float: left;
  width: 221px;
  padding: 0 0 0 20px;
  border-radius: 0 60px 60px 0;
  cursor: pointer;
  height: 57px;
  border-left: 2px solid #333;
  position: relative;
}

.right .searchsection .dropdown:hover {
  background-color: rgba(253, 222, 191, 0.9);
  color: #333;
}

.right .searchsection .dropdown:after {
  content: "▾";
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 18px;
  display: block;
}

.right .searchsection .menu {
  position: absolute;
  right: 20px;
  top: 70px;
  width: 200px;
  cursor: pointer;
  opacity: 0;
  transform-style: preserve-3d;
  transform: rotatey(100deg) rotateX(5deg);
  backface-visibility: hidden;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 5px;
  transition: all 0.8s;
  z-index: 5;
  overflow: hidden;
}

.right .searchsection .menu li {
  padding: 10px 10px;
  color: #333;
  transition: all 0.3s;
}

.right .searchsection .menu li:hover {
  background-color: rgba(253, 222, 191, 0.9);
  color: #333;
  padding-left: 20px;
}

.right .searchsection .menu li:last-child {
  border: none;
}

.right .searchsection .showMenu {
  opacity: 1;
  transform: rotateX(0deg) translatey(0px);
}

.right .searchsection li > i {
  float: left;
  padding-top: 3px;
  padding-right: 8px;
}

.right .searchsection p > i {
  position: relative;
  top: 2px;
}

.right .searchsection i {
  opacity: 0.7;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes moveShadow {
  0%,
  100% {
    transform: translateY(10px);
    opacity: 0.4;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
}

.right .searchsection #content {
  position: relative;
  z-index: 999;
  height: 40px;
  width: 300px;
  top: 60%;
  left: 70%;
}

.right .searchsection #content.on {
  animation-name: in-out;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.right .searchsection input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid #333;
  border-radius: 50%;
  background: none;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition-delay: 0.4s;
  transform: translate(-100%, -50%);
}

.right .searchsection .search {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: translate(-100%, -50%);
}

.right .searchsection .search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #333;
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  transition: 0.2s ease-in-out;
}

.right .searchsection .close {
  transition: 0.4s ease-in-out;
  transition-delay: 0.4s;
}

.right .searchsection .close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #333;
  transform: rotate(45deg);
  transition: 0.2s ease-in-out;
}

.right .searchsection .close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #333;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  transform: rotate(-45deg);
}

.right .searchsection .square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 350px;
  height: 50px;
  border-radius: 40px;
  border: 2px solid #333;
  background: none;
  color: #333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition-delay: 0.4s, 0s, 0.4s;
  transform: translate(-100%, -50%);
}

.right #selectBox {
  display: none;
}

.right h2 {
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
  letter-spacing: 15px;
  font-weight: bold;
}

.right .item {
  width: 70%;
  margin: 100px auto 200px 15%;
  position: relative;
}

.right .item .text {
  width: 50%;
  background-color: #fff;
  font-size: 14px;
  line-height: 30px;
  padding: 0 0 3% 5%;
  box-shadow: 12px 10px 20px -10px #333;
}

.right .item .text h3 {
  font-size: 24px;
  padding: 8% 0;
  letter-spacing: 10px;
}

.right .item .text a {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  text-decoration: none;
  color: #EAAF88;
}

.right .item .text a:hover {
  color: #333;
}

.right .item .pic {
  position: absolute;
  top: -15px;
  left: 48%;
  box-shadow: 12px 10px 20px -10px #333;
}

.right .item .pic img {
  width: 100%;
}

.right .item .bg {
  position: absolute;
  top: 13%;
  left: 5%;
  width: 100%;
  height: 120%;
  box-shadow: 12px 10px 10px -4px #aaa;
  z-index: -3;
}

.right .item .bg1 {
  background-color: rgba(66, 136, 115, 0.767);
}

.right .item .bg2 {
  background-color: rgba(199, 79, 73, 0.767);
}

.right .item .bg3 {
  background-color: rgba(139, 105, 73, 0.767);
}

@media all and (min-width: 768px) and (max-width: 991px) {
  header {
    display: none;
  }
  .right {
    margin: 0;
  }
  .right .searchsection .flycat {
    width: 100px;
    top: 75%;
  }
  .right .item {
    width: 80%;
    margin: 50px auto 180px auto;
  }
  .right .item:after {
    content: '';
    display: block;
    clear: both;
  }
  .right .item .text {
    position: absolute;
    top: 80%;
    left: 45%;
    width: 60%;
    color: #ddd;
  }
  .right .item .tx1 {
    background-color: rgba(66, 136, 115, 0.767);
  }
  .right .item .tx2 {
    background-color: rgba(199, 79, 73, 0.767);
  }
  .right .item .tx3 {
    background-color: rgba(139, 105, 73, 0.767);
  }
  .right .item .pic {
    position: static;
  }
  .right .item .bg {
    display: none;
  }
}

@media all and (max-width: 767px) {
  header {
    display: none;
  }
  .right {
    margin: 0;
  }
  .right .searchsection #selectBox {
    display: block;
  }
  .right #content,
  .right .dropholder,
  .right .flycat {
    display: none;
  }
  .right .item {
    width: 80%;
    margin: 80px auto 180px auto;
  }
  .right .item:after {
    content: '';
    display: block;
    clear: both;
  }
  .right .item .text {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 70%;
    color: #ddd;
  }
  .right .item .tx1 {
    background-color: rgba(66, 136, 115, 0.767);
  }
  .right .item .tx2 {
    background-color: rgba(199, 79, 73, 0.767);
  }
  .right .item .tx3 {
    background-color: rgba(139, 105, 73, 0.767);
  }
  .right .item .pic {
    position: static;
  }
  .right .item .bg {
    display: none;
  }
}

/*# sourceMappingURL=halfway_house_search.css.map */
