/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: notoSans;
  src: url("../../fonts/NotoSansCJKtc-Thin.otf"); }

@font-face {
  font-family: notoSans_r;
  src: url("../../fonts/NotoSansCJKtc-Regular.otf"); }

@font-face {
  font-family: notoSans_b;
  src: url("../../fonts/NotoSansCJKtc-Black.otf"); }

body {
  font-family: notoSans;
  letter-spacing: 3px; }

header {
  background-color: #EAAF88;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-left: 15px;
  box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315);
  z-index: 99999999999999999999; }
  header .logo {
    position: relative;
    top: 70px;
    width: 180px;
    text-align: center; }
    header .logo a {
      text-decoration: none;
      color: #fff; }
    header .logo img {
      width: 90%; }
  header ul {
    position: absolute;
    bottom: 180px; }
    header ul li {
      margin: 1px 0;
      position: relative; }
      header ul li:hover {
        background-color: #fff;
        box-shadow: -2px 3px 6px rgba(63, 62, 62, 0.397);
        transition: .3s; }
      header ul li:hover a {
        color: #000;
        transition: .3s; }
      header ul li a {
        width: 185px;
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 20px; }
  header .icons {
    width: 180px;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    position: absolute;
    bottom: 70px; }
    header .icons #like {
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      display: block;
      width: 15px;
      height: 15px;
      position: relative;
      color: #d33;
      top: -17px;
      right: -25px;
      font-family: notoSans_b; }
    header .icons a {
      text-decoration: none;
      color: #fff; }
      header .icons a:hover {
        transform: scale(1.15);
        transition: .3s; }
