/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

input, select {
  font-family: 'Noto Sans TC';
  font-weight: bolder; }

body {
  font-family: 'Noto Sans TC';
  font-weight: 300;
  letter-spacing: 3px; }

.btns .btn {
  font-size: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  transition: .35s;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  padding-left: 3px;
  padding-bottom: 3px;
  z-index: 1; }
  .btns .btn:hover:before {
    transition: .35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    top: -10%;
    left: -10%; }
  .btns .btn:before {
    content: '';
    display: block;
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
    top: 90%;
    left: -110%;
    z-index: -1; }

.btns .fa {
  vertical-align: middle; }

.btns .btn.facebook {
  color: #3b5998; }
  .btns .btn.facebook:before {
    background-color: #3b5998; }
  .btns .btn.facebook:hover {
    color: #fff; }

.btns .btn.twitter {
  color: #3cf; }
  .btns .btn.twitter:before {
    background-color: #3cf; }
  .btns .btn.twitter:hover {
    color: #fff; }

.btns .btn.google {
  color: #dc4a38; }
  .btns .btn.google:before {
    background-color: #dc4a38; }
  .btns .btn.google:hover {
    color: #fff; }

.btns .btn.youtube {
  color: #f00; }
  .btns .btn.youtube:before {
    background-color: #f00; }
  .btns .btn.youtube:hover {
    color: #fff; }

.defaultBtn {
  font-size: 16px;
  border: #333 2px solid;
  border-radius: 24px;
  color: #333;
  padding: 4px 30px;
  background-color: transparent;
  cursor: pointer;
  transition: .3s all;
  outline: none; }
  .defaultBtn:hover {
    color: white;
    background-color: #EAAF88;
    border-color: #EAAF88; }

.btn-more {
  width: 160px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-decoration: none;
  color: #333;
  position: relative;
  overflow: hidden;
  z-index: 2;
  font-family: notoSans_r; }
  .btn-more:hover {
    color: #fff; }
  .btn-more:before {
    width: 100%;
    height: 100%;
    display: inline-block;
    content: '';
    position: absolute;
    left: -100%;
    background-color: transparent;
    transition: .3s;
    z-index: -1; }
  .btn-more:hover:before {
    left: 0;
    background-color: #333; }
  .btn-more:after {
    margin-top: -7px;
    width: 7px;
    height: 13px;
    background: url(../images/icon01.png) no-repeat right center;
    position: absolute;
    top: 50%;
    right: 18px;
    content: ""; }

.breadcrumbs {
  margin-bottom: 40px;
  font-size: 18px; }
  .breadcrumbs a {
    font-size: 14px;
    text-decoration: none;
    border-width: 1px;
    padding: 4px 10px;
    text-align: center; }

.page {
  text-align: center;
  padding: 30px; }
  .page .pageNo {
    text-align: center;
    text-decoration: none;
    padding: 5px;
    padding-left: 7px;
    border-radius: 0px;
    border-width: 1px;
    margin: 10px; }

@media all and (max-width: 767px) {
  .breadcrumbs {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center; }
    .breadcrumbs a:hover {
      color: #333;
      background-color: transparent;
      border-color: transparent; } }

.container {
  max-width: 991px;
  margin: 0 auto; }

input, select {
  outline: none; }

footer {
  background-color: #f5eae3;
  margin-left: 200px;
  padding: 15px; }
  footer .follow {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center; }
  footer nav {
    margin: auto; }
    footer nav ul {
      display: flex;
      justify-content: space-around; }
      footer nav ul li {
        width: 20%;
        margin: 15px; }
        footer nav ul li:hover {
          transform: translateY(-3px);
          transition: .35s; }
        footer nav ul li a {
          text-align: center;
          border: 1px solid #333;
          text-decoration: none;
          color: #333;
          display: block;
          width: 100%;
          padding: 15px; }
  footer span {
    display: inline-block;
    position: relative;
    top: -20px;
    padding: 10px; }

@media all and (max-width: 991px) {
  footer {
    margin-left: 0 !important;
    width: 100% !important; } }

@media all and (max-width: 767px) {
  footer {
    margin-left: 0;
    width: 100%;
    height: 20vh; }
    footer span {
      display: block;
      text-align: center;
      top: -10px; } }

header {
  background-color: #eaaf88;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-left: 15px;
  box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315);
  z-index: 999; }
  header .logo {
    position: relative;
    top: 60px;
    width: 180px;
    text-align: center; }
    header .logo a {
      text-decoration: none;
      color: #fff; }
    header .logo img {
      width: 90%; }
    header .logo h1 {
      padding: 5%; }
  header ul {
    position: absolute;
    bottom: 180px; }
    header ul li {
      margin: 1px 0;
      position: relative; }
      header ul li:hover {
        background-color: #fff;
        box-shadow: -2px 3px 6px rgba(63, 62, 62, 0.397);
        transition: .3s; }
      header ul li:hover a {
        color: #000;
        transition: .3s; }
      header ul li a {
        width: 185px;
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 20px; }
  header .icons {
    width: 180px;
    display: flex;
    padding: 15px;
    padding-right: 20px;
    justify-content: space-around;
    position: absolute;
    bottom: 40px; }
    header .icons #like {
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      display: block;
      width: 15px;
      height: 15px;
      position: relative;
      color: #d33;
      top: -17px;
      right: -25px;
      font-family: 'Noto Sans TC';
      font-weight: 700; }
    header .icons a {
      text-decoration: none;
      color: #fff; }
      header .icons a:hover {
        transform: scale(1.15);
        transition: .3s; }

.hb {
  position: absolute;
  z-index: 999999999;
  background-color: #eaaf88;
  padding: 2px 5px;
  border-radius: 0 0 50px 50px;
  display: none;
  bottom: -40px;
  right: 0;
  padding: 15px 10px 10px 10px; }

header.active {
  transform: translateY(0);
  transition: .6s; }

.hamburger .line {
  width: 20px;
  height: 4px;
  background-color: #ffffff;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hamburger:hover {
  cursor: pointer; }

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#hamburger-6.is-active .line:nth-child(2) {
  width: 0px; }

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s; }

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px); }

#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
  -ms-transform: translateY(-6px) rotate(90deg);
  -o-transform: translateY(-6px) rotate(90deg);
  transform: translateY(-6px) rotate(90deg); }

.pick-kit .pick-title h2, .half .half-title h2, .shop .shop-title h2, .game-point h2, .noticegame .game-point-title h2 {
  font-size: 18px;
  color: #fff;
  background-color: #333;
  padding: 15px 30px;
  margin: 15px 0; }

.pick-kit .pick-title h3, .half .half-title h3, .shop .shop-title h3, .game-point h3, .noticegame .game-point-title h3 {
  color: #333;
  background-color: rgba(255, 255, 255, 0.537);
  padding: 10px 30px;
  border: 2px solid #333;
  margin: 15px 0; }

.half .arrowLeft, .shop .prod .arrowLeft {
  position: absolute;
  display: none;
  top: 65vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.411);
  color: #fff;
  width: 50px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  z-index: 666; }
  .half .arrowLeft i, .shop .prod .arrowLeft i {
    position: relative;
    top: 12px; }

.half .arrowRight, .shop .prod .arrowRight {
  position: absolute;
  display: none;
  top: 65vh;
  right: 0;
  background-color: rgba(0, 0, 0, 0.411);
  color: #fff;
  width: 50px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  z-index: 666; }
  .half .arrowRight i, .shop .prod .arrowRight i {
    position: relative;
    top: 12px; }

.margin-200 {
  margin-left: 200px; }

.more {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 15vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.banner {
  height: 100vh;
  background-image: url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 2px 2px 3px #333333; }
  .banner .findBox, .banner .waitBox {
    display: flex;
    justify-content: center;
    align-items: center; }
  .banner .find, .banner .wait {
    text-align: center;
    padding: 15px;
    font-weight: bolder;
    font-size: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .banner .find img, .banner .wait img {
      width: 40px;
      height: 55px;
      vertical-align: middle; }
  .banner h2 {
    text-align: center;
    font-size: 24px;
    padding: 15px; }
  .banner .search {
    position: relative; }
    .banner .search select {
      background-color: rgba(255, 255, 255, 0.6);
      border: 3px solid #fff;
      border-radius: 40px;
      text-align-last: center;
      padding: 3px 6px;
      font-size: 18px;
      color: #222222;
      cursor: pointer; }
    .banner .search .go {
      display: inline-block;
      position: relative; }
    .banner .search input {
      -moz-appearance: none;
      -webkit-appearance: none;
      margin: 15px auto;
      background-color: rgba(255, 255, 255, 0.6);
      border: 3px solid #fff;
      letter-spacing: 2px;
      border-radius: 40px;
      padding: 5px 37.5px 5px 15px;
      font-size: 18px; }
      .banner .search input:-moz-placeholder {
        color: #333; }
      .banner .search input::-webkit-input-placeholder {
        color: #333; }
      .banner .search input:-ms-input-placeholder {
        color: #333; }
    .banner .search .fa-search {
      color: #fff;
      position: absolute;
      right: 10px;
      top: 28px; }

@keyframes scrollDown {
  to {
    opacity: .3;
    top: 30px; } }

.scroll-down {
  text-align: center;
  margin: 10px auto;
  line-height: 36px; }
  .scroll-down i {
    top: 0;
    position: relative;
    animation: scrollDown 1.2s ease-out infinite;
    color: #fff;
    text-decoration: none; }
  .scroll-down small {
    font-size: 14px; }

.pick-kit {
  text-align: center;
  height: 100vh;
  position: relative;
  background-image: url(../images/wood.jpg); }
  .pick-kit .pick-title {
    height: 15vh;
    display: flex;
    align-items: center; }
    .pick-kit .pick-title h2 {
      height: 40px;
      line-height: 10px; }
  .pick-kit ul {
    width: 200%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .pick-kit ul li {
      width: 16%;
      float: left; }
      .pick-kit ul li .cat_list_bg {
        width: 100%;
        height: 70vh;
        background-color: #fff;
        padding: 10px; }
        .pick-kit ul li .cat_list_bg a {
          text-decoration: none;
          color: #333; }
          .pick-kit ul li .cat_list_bg a .cat_list {
            height: 100%;
            background: #369;
            box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.76), -1px -1px 6px rgba(0, 0, 0, 0.555); }
            .pick-kit ul li .cat_list_bg a .cat_list .bubble {
              width: 250px;
              height: 250px;
              border-radius: 50%;
              display: block;
              background-color: rgba(255, 255, 255, 0.548);
              margin: 0 auto;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center; }
              .pick-kit ul li .cat_list_bg a .cat_list .bubble span {
                display: block;
                padding: 5px; }
      .pick-kit ul li:nth-child(odd) .cat_list_bg a .cat_list {
        background-image: url(../images/catcat_171225_0010.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
      .pick-kit ul li:nth-child(even) .cat_list_bg a .cat_list {
        background-image: url(../images/catcat_171225_0011.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
      .pick-kit ul li:nth-child(even) .cat_list_bg a .cat_list .bubble {
        position: relative;
        top: 50%; }
      .pick-kit ul li:nth-child(odd) .cat_list_bg a .cat_list .bubble {
        position: relative;
        top: 10%; }
  .pick-kit .arrow {
    width: 50px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.411);
    position: absolute;
    top: 70vh;
    z-index: 666;
    cursor: pointer; }
    .pick-kit .arrow i {
      color: #fff;
      position: relative;
      top: 12px; }
  .pick-kit .right-arrow {
    right: 0; }

.half {
  background-image: url(../images/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative; }
  .half .half-title {
    height: 10vh;
    display: flex;
    align-items: center; }
    .half .half-title h2 {
      height: 40px;
      line-height: 10px; }
  .half .half-item {
    padding: 7.5px 15px;
    height: 25vh;
    margin: 0.84vh auto;
    display: flex;
    background-color: #fff;
    width: 80%; }
  .half .half-qty {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .half .half-qty img {
      width: 40px;
      height: 55px;
      margin: 0 5px; }
  .half .half-pic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 100%; }
    .half .half-pic img {
      width: 100%;
      height: 100%; }
  .half .half-text {
    width: 35%;
    padding: 10px;
    position: relative; }
    .half .half-text a {
      text-decoration: none;
      transition: .3s all;
      color: #333;
      margin: 10px 0; }
    .half .half-text a.read-more {
      width: 100%;
      text-align: right;
      display: block; }
    .half .half-text .read-more {
      color: #e68c80; }
    .half .half-text .half-name {
      font-family: 'Noto Sans TC';
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
      display: block; }
    .half .half-text span {
      margin: 10px 0;
      display: block; }

.shop {
  height: 100vh;
  overflow: hidden;
  background-image: url(../images/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .shop .shop-title {
    height: 10vh;
    display: flex;
    align-items: center; }
    .shop .shop-title h2 {
      height: 40px; }
  .shop .prod {
    width: 100%;
    height: 75vh;
    position: relative; }
  .shop ul.prod-list {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap; }
    .shop ul.prod-list li.prod-item {
      display: block;
      width: 25%;
      padding-bottom: 25%;
      position: relative; }
      .shop ul.prod-list li.prod-item:hover .front {
        transform: perspective(750px) rotateY(-180deg); }
      .shop ul.prod-list li.prod-item:hover .backed {
        transform: perspective(750px) rotateY(-360deg); }
      .shop ul.prod-list li.prod-item .front {
        width: 95%;
        height: 95%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        backface-visibility: hidden;
        transform: rotateY(0);
        transition: .6s; }
        .shop ul.prod-list li.prod-item .front .prod-content {
          width: 100%;
          height: 100%;
          background-color: #000;
          opacity: 0.3; }
        .shop ul.prod-list li.prod-item .front .prod-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          padding: 15px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          color: #fff;
          line-height: 22px; }
          .shop ul.prod-list li.prod-item .front .prod-text h4 {
            padding: 15px 0;
            font-size: 18px; }
          .shop ul.prod-list li.prod-item .front .prod-text .statement {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center; }
      .shop ul.prod-list li.prod-item .backed {
        width: 95%;
        height: 95%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        transition: .6s; }
      .shop ul.prod-list li.prod-item .hungry {
        background-image: url(../img/index_shop1.jpg); }
      .shop ul.prod-list li.prod-item .home {
        background-image: url(../img/index_shop2.jpg); }
      .shop ul.prod-list li.prod-item .grass {
        background-image: url(../img/index_shop3.jpg); }
      .shop ul.prod-list li.prod-item .play {
        background-image: url(../img/index_shop4.jpg); }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0; }

.doorLeft {
  animation: openDoorLeft .8s forwards; }

.doorRight {
  animation: openDoorRight .8s forwards; }

@keyframes openDoorLeft {
  to {
    left: -50%; } }

@keyframes openDoorRight {
  to {
    right: -50%; } }

.door-left {
  position: absolute;
  width: 50%;
  height: 100vh;
  background-color: #111;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 999; }

.door-right {
  position: absolute;
  width: 50%;
  height: 100vh;
  background-color: #111;
  opacity: 0.7;
  top: 0;
  right: 0;
  z-index: 999; }

.door-start {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: #EAAF88;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 400; }

.door-start-text {
  line-height: 26px;
  padding-left: 10px;
  padding-right: 10px; }

.door-start-btn {
  margin: 15px auto;
  cursor: pointer; }

.game-point {
  height: 90vh;
  background-image: url(../images/background_up.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .game-point .game-point-title {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .game-point h2 {
    height: 40px;
    line-height: 10px; }
  .game-point .game-point-top {
    width: 80%;
    margin: auto;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px; }
    .game-point .game-point-top .game-qty-box {
      width: 10%;
      margin-right: 20px; }
      .game-point .game-point-top .game-qty-box img {
        width: 100%; }
    .game-point .game-point-top .askBox {
      width: 40%; }
      .game-point .game-point-top .askBox img {
        width: 100%;
        height: 100%; }
    .game-point .game-point-top .cat-ask {
      max-width: 80%;
      max-height: 80%;
      align-self: flex-end;
      margin-left: 60px; }
  .game-point .game-point-bottom {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    height: 45vh;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px; }
    .game-point .game-point-bottom .hint-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      min-height: 100%;
      background-color: #effafc;
      border: 2px solid #000;
      z-index: 0;
      transition: .3s;
      opacity: 0;
      border-radius: 10px; }
      .game-point .game-point-bottom .hint-box .hint {
        width: 80%;
        border: 2px #000 solid;
        background-color: #f8e4e3;
        border-radius: 10px;
        padding: 15px 45px;
        line-height: 30px; }
      .game-point .game-point-bottom .hint-box button {
        background-color: #e46d69;
        color: #fff;
        padding: 10px 30px;
        border-radius: 10px;
        border: 2px solid #000;
        cursor: pointer;
        position: relative;
        top: -10px;
        outline: none; }
    .game-point .game-point-bottom .option-area-a, .game-point .game-point-bottom .option-area-b,
    .game-point .game-point-bottom .option-area-b {
      align-self: flex-start;
      width: 15%;
      padding-bottom: 15%;
      border-radius: 50%;
      position: relative;
      background-color: #369;
      text-align: center;
      cursor: pointer; }
      .game-point .game-point-bottom .option-area-a:hover, .game-point .game-point-bottom .option-area-b:hover,
      .game-point .game-point-bottom .option-area-b:hover {
        transition: .3s; }
    .game-point .game-point-bottom .option-area-a, .game-point .game-point-bottom .option-area-b {
      background-image: url(../images/yes.png);
      background-size: cover;
      background-repeat: no-repeat; }
    .game-point .game-point-bottom .option-area-b {
      background-image: url(../images/no.png); }
    .game-point .game-point-bottom .people {
      position: relative;
      z-index: 2;
      width: 80px;
      height: 102x;
      left: 0;
      bottom: 0;
      transition: .3s; }
    .game-point .game-point-bottom .hug {
      position: relative;
      width: 80px;
      height: 102px;
      z-index: 1;
      right: 0;
      bottom: 0;
      transition: .3s ease-in-out; }

.game-point-bgimg {
  height: 10vh;
  background-image: url(../images/background_down.png);
  background-repeat: no-repeat;
  background-size: cover; }

.noticegame {
  height: 100vh;
  background-image: url(../images/noticeGame/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .noticegame .smallbox {
    display: none; }
  .noticegame .game-point-title {
    height: 15vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; }
    .noticegame .game-point-title h2 {
      height: 40px;
      line-height: 10px; }
  .noticegame .ask {
    width: 30%;
    margin: auto;
    padding-right: 3%; }
    .noticegame .ask img {
      width: 100%;
      margin: auto; }
  .noticegame .boxcontainer {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 80%; }
    .noticegame .boxcontainer #rightbox,
    .noticegame .boxcontainer #leftbox {
      width: 50%; }
      .noticegame .boxcontainer #rightbox img,
      .noticegame .boxcontainer #leftbox img {
        width: 100%; }
    .noticegame .boxcontainer .centerbox img {
      width: 70%; }
  .noticegame .hintbox {
    position: absolute;
    width: 80%;
    height: 60vh;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #effafc;
    border: 2px solid #000;
    z-index: -1;
    transition: .3s;
    opacity: 0;
    border-radius: 10px; }
    .noticegame .hintbox .hinttext {
      width: 80%;
      border: 2px #000 solid;
      background-color: #f8e4e3;
      border-radius: 10px;
      padding: 15px 45px;
      line-height: 30px; }
    .noticegame .hintbox button {
      background-color: #e46d69;
      color: #fff;
      padding: 10px 30px;
      border-radius: 10px;
      border: 2px solid #000;
      cursor: pointer;
      position: relative;
      top: -10px;
      outline: none; }
  .noticegame .imgbox {
    width: 80%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .noticegame .imgbox img:hover {
      cursor: pointer; }

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999999999999999999999999999;
  background-color: #eaaf88;
  transition: .3s; }
  #loading #loadingCat {
    position: absolute;
    display: block;
    top: calc(50% - 100px);
    left: calc(50% - 100px); }

.signUpLightboxBlack {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  display: none; }

.signUpLightbox {
  z-index: 1001;
  position: fixed;
  display: none; }
  .signUpLightbox .cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    z-index: 1002;
    cursor: pointer; }
  .signUpLightbox .bgImg {
    width: 400px;
    height: 600px;
    float: left;
    background-color: #333;
    border-radius: 10px 0 0 10px;
    background-image: url("../images/memberBG.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .signUpLightbox .formShape {
    background-color: #91989f;
    width: 400px;
    height: 600px;
    float: left;
    border-radius: 0 10px 10px 0;
    position: relative; }
    .signUpLightbox .formShape .chioce {
      text-align: center; }
      .signUpLightbox .formShape .chioce:last-child {
        margin-top: 20px; }
      .signUpLightbox .formShape .chioce button {
        background-color: transparent;
        border: none;
        display: inline-block;
        line-height: 2em;
        transition: .1s;
        outline: none;
        color: rgba(245, 245, 245, 0.7);
        font-size: 30px;
        cursor: pointer; }
        .signUpLightbox .formShape .chioce button:hover {
          color: #fff; }
      .signUpLightbox .formShape .chioce .selected {
        border-bottom: 1px solid #eaaf88;
        color: #fff; }
    .signUpLightbox .formShape form {
      padding: 10px 50px;
      margin: 0 auto;
      color: #fff;
      font-family: 'Noto Sans TC';
      font-weight: 300; }
      .signUpLightbox .formShape form label {
        margin-top: 10px;
        margin-bottom: 4px;
        display: block;
        font-size: 18px; }
        .signUpLightbox .formShape form label:first-child {
          margin-top: 0; }
        .signUpLightbox .formShape form label small {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.9); }
      .signUpLightbox .formShape form .formBtn {
        width: 240px;
        border: 1px solid #333;
        display: block;
        line-height: 1.5em;
        text-align: center;
        border-radius: 1000px;
        letter-spacing: 1px;
        transition: .3s;
        color: #333;
        margin: 0 auto 30px;
        cursor: pointer; }
        .signUpLightbox .formShape form .formBtn:hover {
          background-color: #eaaf88;
          border: 1px solid #eaaf88;
          color: #fff; }
      .signUpLightbox .formShape form input {
        color: #fff;
        padding-left: 4px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid rgba(245, 245, 245, 0.7);
        width: 100%;
        transition: 1s; }
        .signUpLightbox .formShape form input:-ms-input-placeholder {
          line-height: 1em;
          padding: 5px 15px;
          color: rgba(245, 245, 245, 0.7);
          font-style: italic;
          font-size: 12px; }
        .signUpLightbox .formShape form input:-moz-placeholder {
          line-height: 1em;
          padding: 5px 15px;
          color: rgba(245, 245, 245, 0.7);
          font-style: italic;
          font-size: 12px; }
        .signUpLightbox .formShape form input::-moz-placeholder {
          line-height: 1em;
          padding: 5px 15px;
          color: rgba(245, 245, 245, 0.7);
          font-style: italic;
          font-size: 12px; }
        .signUpLightbox .formShape form input::-webkit-input-placeholder {
          line-height: 1em;
          padding: 5px 15px;
          color: rgba(245, 245, 245, 0.7);
          font-style: italic;
          font-size: 12px; }
      .signUpLightbox .formShape form input:focus {
        border-bottom: 1px solid #eaaf88;
        transition: 1s; }
      .signUpLightbox .formShape form #userPhoto {
        display: none; }
      .signUpLightbox .formShape form .formSubmitBtn {
        display: inline-block;
        width: 100px;
        font-size: 14px; }
      .signUpLightbox .formShape form .chioce {
        margin-top: 20px; }
      .signUpLightbox .formShape form .signInUpPos {
        width: 170px;
        position: absolute;
        left: 50%;
        margin-left: -85px;
        bottom: 14px;
        color: #eee;
        font-size: 12px; }
        .signUpLightbox .formShape form .signInUpPos span {
          background-color: transparent;
          color: #eee;
          border-bottom: #eee 1px solid;
          cursor: pointer;
          outline: none;
          letter-spacing: 0; }
  .signUpLightbox .formShape2 {
    display: none;
    background-color: #bdc0ba; }
    .signUpLightbox .formShape2 .chioce .selected {
      border-bottom-color: #876633; }

@media all and (max-width: 991px) {
  .signUpLightbox .bgImg {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0; }
  .signUpLightbox .formShape {
    border-radius: 10px; } }

@media all and (max-width: 767px) {
  .signUpLightbox .bgImg {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0; }
  .signUpLightbox .formShape {
    width: 300px;
    border-radius: 10px; }
    .signUpLightbox .formShape .chioce button {
      font-size: 14px; }
    .signUpLightbox .formShape form .formBtn {
      width: 180px;
      font-size: 14px; }
    .signUpLightbox .formShape form .formSubmitBtn {
      display: inline-block;
      width: 80px;
      font-size: 14px; } }

@media all and (max-width: 991px) {
  header {
    top: 0;
    right: 5%;
    margin: auto;
    width: 30%;
    height: 70vh;
    transform: translateY(-100%);
    border-radius: 0 0 0 30px;
    display: block !important; }
    header .logo {
      left: calc(50% - 90px);
      top: 10px; }
    header ul {
      width: 90%;
      bottom: 120px; }
      header ul li a {
        width: 100%;
        text-align: center; }
    header .icons {
      left: 0;
      right: 0;
      margin: auto; }
  .hb {
    display: block; } }

@media all and (max-width: 767px) {
  header {
    width: 90%;
    height: 75vh; }
    header .logo img {
      width: 70%; } }

@media all and (max-width: 991px) {
  .margin-200 {
    margin-left: 0; }
  .banner .find, .banner .wait {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  .banner .wait {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  .banner .findBox, .banner .waitBox {
    display: block;
    text-align: center;
    margin-bottom: 30px; }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .search select {
      margin: auto 3px; }
  .game-point .game-point-top .game-qty-box {
    width: 80%; }
  .game-point .game-point-top .askBox {
    width: 260%; }
  .game-point .game-point-title {
    text-align: center;
    width: 100%;
    display: inline-block; }
  .pick-kit .pick-title {
    text-align: center;
    width: 100%;
    display: inline-block; }
  .half .arrowLeft {
    display: block; }
  .half .arrowRight {
    display: block; }
  .half .half-title {
    text-align: center;
    width: 100%;
    display: inline-block;
    align-items: center; }
  .half ul.half-list {
    width: 300%;
    position: absolute;
    top: 15vh;
    display: flex;
    height: 70vh; }
    .half ul.half-list li {
      width: 100%; }
      .half ul.half-list li .half-item {
        height: 100%;
        flex-direction: column; }
        .half ul.half-list li .half-item .half-pic {
          order: -1;
          width: 100%;
          height: 35vh; }
        .half ul.half-list li .half-item .half-qty {
          width: 100%;
          height: 10vh; }
          .half ul.half-list li .half-item .half-qty img {
            width: 35px;
            height: 48px; }
          .half ul.half-list li .half-item .half-qty span {
            align-self: center; }
        .half ul.half-list li .half-item .half-text {
          width: 100%;
          height: 25vh; }
          .half ul.half-list li .half-item .half-text .read-more {
            display: block;
            text-align: right; }
  .noticegame .game-point-title {
    width: 100%;
    display: inline-block;
    align-items: center; }
  .noticegame .ask {
    display: none; }
  .noticegame .smallbox {
    display: block;
    margin-top: 60px; }
  .noticegame .boxcontainer {
    display: none; }
  .noticegame .imgbox {
    display: none; }
  .shop .prod ul.prod-list {
    height: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; }
    .shop .prod ul.prod-list li.prod-item {
      width: 35%; } }

@media all and (max-width: 767px) {
  .pick-kit .pick-title h2, .half .half-title h2, .shop .shop-title h2, .game-point h2, .noticegame .game-point-title h2 {
    margin: 0; }
  .pick-kit .pick-title h3, .half .half-title h3, .shop .shop-title h3, .game-point h3, .noticegame .game-point-title h3 {
    margin: 0; }
  .container {
    max-width: 90%; }
  .banner .search select,
  .banner .search input {
    font-size: 16px; }
  .game-point .game-point-top {
    display: block; }
    .game-point .game-point-top .game-qty-box {
      width: 40%; }
    .game-point .game-point-top .askBox {
      width: 130%; }
  .game-point .game-point-bottom .option-area-a, .game-point .game-point-bottom .option-area-b,
  .game-point .game-point-bottom .option-area-b {
    align-self: center;
    width: 24%;
    padding-bottom: 24%; }
  .pick-kit ul {
    width: 600%; }
    .pick-kit ul li:nth-child(even) .cat_list_bg a .cat_list .bubble {
      top: 40%; }
    .pick-kit ul li:nth-child(odd) .cat_list_bg a .cat_list .bubble {
      top: 5%; }
  .noticegame .ask {
    display: none; }
  .noticegame .smallbox {
    display: block;
    margin-top: 60px; }
  .noticegame .boxcontainer {
    display: none; }
  .noticegame .imgbox {
    display: none; }
  .shop .prod {
    height: 70vh; }
    .shop .prod .arrowLeft {
      display: block;
      top: 45vh; }
    .shop .prod .arrowRight {
      display: block;
      top: 45vh; }
  .shop ul.prod-list {
    width: 400%;
    height: 70vh;
    position: absolute;
    flex-wrap: nowrap;
    left: 0;
    top: 0; }
    .shop ul.prod-list li.prod-item {
      width: 25%; }
      .shop ul.prod-list li.prod-item .front {
        width: 80%;
        height: 60%; }
      .shop ul.prod-list li.prod-item .backed {
        width: 80%;
        height: 60%; } }

@media all and (max-width: 376px) {
  .game-point .game-point-bottom .option-area-a, .game-point .game-point-bottom .option-area-b,
  .game-point .game-point-bottom .option-area-b {
    align-self: flex-start;
    width: 25%;
    padding-bottom: 25%; }
  .game-point .game-point-title {
    width: 100%;
    display: inline-block;
    text-align: center; } }
