/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input, select {
  font-family: 'Noto Sans TC';
  font-weight: bolder;
}

body {
  font-family: 'Noto Sans TC';
  font-weight: 300;
  letter-spacing: 3px;
}

.defaultBtn {
  font-size: 16px;
  border: #333 2px solid;
  border-radius: 24px;
  color: #333;
  padding: 4px 30px;
  background-color: transparent;
  cursor: pointer;
  transition: .3s all;
  outline: none;
}

.defaultBtn:hover {
  color: white;
  background-color: #EAAF88;
  border-color: #EAAF88;
}

.btn-more {
  width: 160px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  text-decoration: none;
  color: #333;
  position: relative;
  overflow: hidden;
  z-index: 2;
  font-family: notoSans_r;
}

.btn-more:hover {
  color: #fff;
}

.btn-more:before {
  width: 100%;
  height: 100%;
  display: inline-block;
  content: '';
  position: absolute;
  left: -100%;
  background-color: transparent;
  transition: .3s;
  z-index: -1;
}

.btn-more:hover:before {
  left: 0;
  background-color: #333;
}

.btn-more:after {
  margin-top: -7px;
  width: 7px;
  height: 13px;
  background: url(../images/icon01.png) no-repeat right center;
  position: absolute;
  top: 50%;
  right: 18px;
  content: "";
}

.breadcrumbs {
  margin-bottom: 40px;
  font-size: 18px;
}

.breadcrumbs a {
  font-size: 14px;
  text-decoration: none;
  border-width: 1px;
  padding: 4px 10px;
  text-align: center;
}

@media all and (max-width: 767px) {
  .breadcrumbs {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  .breadcrumbs a {
    border: none;
    padding: 0;
  }
  .breadcrumbs a:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
  }
}

.container {
  max-width: 991px;
  margin: 0 auto;
}

input, select {
  outline: none;
}

header {
  background-color: #eaaf88;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-left: 15px;
  box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315);
  z-index: 999;
}

header .logo {
  position: relative;
  top: 60px;
  width: 180px;
  text-align: center;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header .logo img {
  width: 80%;
}

header ul {
  position: absolute;
  bottom: 180px;
}

header ul li {
  margin: 1px 0;
  position: relative;
}

header ul li:hover {
  background-color: #fff;
  box-shadow: -2px 3px 6px rgba(63, 62, 62, 0.397);
  transition: .3s;
}

header ul li:hover a {
  color: #000;
  transition: .3s;
}

header ul li a {
  width: 185px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
}

header .icons {
  width: 180px;
  display: flex;
  padding: 15px;
  padding-right: 20px;
  justify-content: space-around;
  position: absolute;
  bottom: 40px;
}

header .icons #like {
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  color: #d33;
  top: -17px;
  right: -25px;
  font-family: 'Noto Sans TC';
  font-weight: 700;
}

header .icons a {
  text-decoration: none;
  color: #fff;
}

header .icons a:hover {
  transform: scale(1.15);
  transition: .3s;
}

.hb {
  position: absolute;
  z-index: 999999999;
  background-color: #eaaf88;
  padding: 2px 5px;
  border-radius: 0 0 10px 10px;
  display: none;
  bottom: -68px;
  right: 0;
  padding: 15px 10px 10px 10px;
}

header.active {
  transform: translateY(0);
  transition: .6s;
}

.hamburger .line {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-14px) rotate(90deg);
  -ms-transform: translateY(-14px) rotate(90deg);
  -o-transform: translateY(-14px) rotate(90deg);
  transform: translateY(-14px) rotate(90deg);
}

footer {
  background-color: #f5eae3;
  margin-left: 200px;
  padding: 15px;
}

footer .follow {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav {
  margin: auto;
}

footer nav ul {
  display: flex;
  justify-content: space-around;
}

footer nav ul li {
  width: 20%;
  margin: 15px;
}

footer nav ul li:hover {
  transform: translateY(-3px);
  transition: .35s;
}

footer nav ul li a {
  text-align: center;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
  display: block;
  width: 100%;
  padding: 15px;
}

footer span {
  display: inline-block;
  position: relative;
  top: -20px;
  padding: 10px;
}

@media all and (max-width: 991px) {
  footer {
    margin-left: 0;
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .section footer {
    margin-left: 0;
    width: 100%;
    height: 20vh;
  }
  .section footer span {
    display: block;
    text-align: center;
    top: -10px;
  }
}

.btns .btn {
  font-size: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  transition: .35s;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  padding-left: 3px;
  padding-bottom: 3px;
  z-index: 1;
}

.btns .btn:hover:before {
  transition: .35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  top: -10%;
  left: -10%;
}

.btns .btn:before {
  content: '';
  display: block;
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
  top: 90%;
  left: -110%;
  z-index: -1;
}

.btns .fa {
  vertical-align: middle;
}

.btns .btn.facebook {
  color: #3b5998;
}

.btns .btn.facebook:before {
  background-color: #3b5998;
}

.btns .btn.facebook:hover {
  color: #fff;
}

.btns .btn.twitter {
  color: #3cf;
}

.btns .btn.twitter:before {
  background-color: #3cf;
}

.btns .btn.twitter:hover {
  color: #fff;
}

.btns .btn.google {
  color: #dc4a38;
}

.btns .btn.google:before {
  background-color: #dc4a38;
}

.btns .btn.google:hover {
  color: #fff;
}

.btns .btn.youtube {
  color: #f00;
}

.btns .btn.youtube:before {
  background-color: #f00;
}

.btns .btn.youtube:hover {
  color: #fff;
}

header ul li:nth-child(5) {
  background-color: #fff;
  box-shadow: -3px 3px 5px rgba(63, 62, 62, 0.199);
}

header ul li:nth-child(5) a {
  color: #333;
  font-family: 'Noto Sans TC';
  font-weight: 700;
}

header ul li:nth-child(5):after {
  z-index: -1;
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background-color: #fff;
  position: absolute;
  top: 6.5px;
  right: -16px;
  transform: rotate(45deg);
  box-shadow: 3px 3px 5px rgba(63, 62, 62, 0.199);
}

.right {
  margin-left: 200px;
  background-image: url(../images/marble.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.right:after {
  content: '';
  display: block;
  clear: both;
}

.right .bigImg {
  height: 40vh;
  background-image: url(../images/cutecatbg3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 50px 0;
}

.right .leftselect {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.right .leftselect img {
  width: 100%;
}

.right .leftselect .leftlist {
  width: 100%;
}

.right .leftselect .leftlist li {
  list-style: none;
  margin: 0 10px;
  padding: 20px 0 20px 10px;
  font-size: 18px;
  border-bottom: 1px dotted #999999;
  color: #c2740f;
  cursor: pointer;
}

.right .leftselect .leftlist li:hover {
  color: #0f71c2;
}

.right .leftselect .leftlist li:first-child {
  color: #0f71c2;
}

.right .leftselect .leftbottom {
  margin-bottom: 260px;
}

.right .smalllist {
  display: none;
}

.right .content {
  width: 70%;
  float: left;
  padding-bottom: 50px;
}

.right .content h4 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.right .content .memInfo form {
  width: 100%;
}

.right .content .memInfo form table {
  width: 100%;
}

.right .content .memInfo form tr {
  width: 100%;
  text-align: center;
}

.right .content .memInfo form th {
  width: 30%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #ccc;
  padding: 20px;
}

.right .content .memInfo form td {
  width: 63%;
  border: 2px solid #ccc;
  padding: 20px;
}

.right .content .memInfo form td input {
  width: 90%;
  height: 30px;
  border: none;
}

.right .content .memOrderlist {
  font-size: 18px;
}

.right .content .memOrderlist h5 {
  margin-bottom: 20px;
}

.right .content .memOrderlist p {
  margin-bottom: 20px;
}

.right .content .memOrderlist span {
  color: #eb2f2f;
}

.right .content .memOrderlist table {
  width: 100%;
  margin: 30px auto;
}

.right .content .memOrderlist table tr {
  text-align: center;
}

.right .content .memOrderlist table th {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px 0 20px 0;
}

.right .content .memOrderlist table td {
  border: 1px solid #ccc;
  padding: 20px 0 20px 0;
}

.right .content .memOrderlist table td .fa-trash {
  font-size: 16.8px;
  color: firebrick;
  cursor: pointer;
}

.right .content .memOrderlist .odTable a {
  text-decoration: none;
  color: #EAAF88;
}

.right .content .memOrderlist .odTable a:hover {
  color: #0f71c2;
}

@media all and (max-width: 991px) {
  header {
    display: none;
  }
  .right {
    margin: 0;
  }
  .right .leftselect {
    display: none;
  }
  .right .smalllist {
    display: block;
  }
  .right .smalllist ul {
    text-align: center;
  }
  .right .smalllist ul li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 30px;
    border-bottom: 2px dotted #c2740f;
    cursor: pointer;
  }
  .right .smalllist ul li:hover {
    color: #0f71c2;
  }
  .right .smalllist ul li:first-child {
    color: #0f71c2;
  }
  .right .content {
    width: 80%;
    float: none;
    margin: 50px auto 0 auto;
    padding-bottom: 50px;
  }
}

@media all and (max-width: 767px) {
  header {
    display: none;
  }
  .right {
    margin: 0;
  }
  .right .leftselect {
    display: none;
  }
  .right .smalllist {
    display: block;
  }
  .right .smalllist ul {
    text-align: center;
  }
  .right .smalllist ul li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 30px;
    border-bottom: 2px dotted #c2740f;
    cursor: pointer;
  }
  .right .smalllist ul li:hover {
    color: #0f71c2;
  }
  .right .smalllist ul li:first-child {
    color: #0f71c2;
  }
  .right .content {
    width: 80%;
    float: none;
    margin: 50px auto 0 auto;
    padding-bottom: 50px;
  }
}

@media all and (max-width: 991px) {
  footer {
    margin-left: 0;
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .section footer {
    margin-left: 0;
    width: 100%;
    height: 20vh;
  }
  .section footer span {
    display: block;
    text-align: center;
    top: -10px;
  }
}

/*# sourceMappingURL=member.css.map */
