/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: notoSans;
  src: url("../../fonts/NotoSansCJKtc-Thin.otf");
}

@font-face {
  font-family: notoSans_r;
  src: url("../../fonts/NotoSansCJKtc-Regular.otf");
}

@font-face {
  font-family: notoSans_b;
  src: url("../../fonts/NotoSansCJKtc-Black.otf");
}

body {
  font-family: notoSans;
  letter-spacing: 3px;
}

.btns .btn {
  font-size: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  transition: .35s;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  padding-left: 3px;
  padding-bottom: 3px;
  z-index: 1;
}

.btns .btn:hover:before {
  transition: .35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  top: -10%;
  left: -10%;
}

.btns .btn:before {
  content: '';
  display: block;
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
  top: 90%;
  left: -110%;
  z-index: -1;
}

.btns .fa {
  vertical-align: middle;
}

.btns .btn.facebook {
  color: #3b5998;
}

.btns .btn.facebook:before {
  background-color: #3b5998;
}

.btns .btn.facebook:hover {
  color: #fff;
}

.btns .btn.twitter {
  color: #3cf;
}

.btns .btn.twitter:before {
  background-color: #3cf;
}

.btns .btn.twitter:hover {
  color: #fff;
}

.btns .btn.google {
  color: #dc4a38;
}

.btns .btn.google:before {
  background-color: #dc4a38;
}

.btns .btn.google:hover {
  color: #fff;
}

.btns .btn.youtube {
  color: #f00;
}

.btns .btn.youtube:before {
  background-color: #f00;
}

.btns .btn.youtube:hover {
  color: #fff;
}

.container {
  max-width: 991px;
  margin: 0 auto;
}

footer {
  background-color: #f5eae3;
  margin-left: 200px;
  padding: 15px;
}

footer .follow {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav {
  margin: auto;
}

footer nav ul {
  display: flex;
  justify-content: space-around;
}

footer nav ul li {
  width: 20%;
  margin: 15px;
}

footer nav ul li a {
  text-align: center;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
  display: block;
  width: 100%;
  padding: 15px;
}

footer span {
  display: inline-block;
  position: relative;
  top: -20px;
  padding: 10px;
}

header {
  background-color: #EAAF88;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-left: 15px;
<<<<<<< HEAD
  box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315);
}

header .logo {
  position: relative;
  top: 70px;
  width: 180px;
  text-align: center;
}

header .logo a {
  text-decoration: none;
  color: #333;
}

header .logo img {
  width: 90%;
}

header ul {
  position: absolute;
  bottom: 180px;
}

header ul li {
  margin: 1px 0;
  position: relative;
}

header ul li:hover {
  background-color: #EAAF88;
  transition: .3s;
}

header ul li:hover a {
  color: #fff;
  transition: .3s;
}

header ul li a {
  width: 185px;
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 20px;
}

header .icons {
  width: 180px;
  display: flex;
  padding: 15px;
  justify-content: space-around;
  position: absolute;
  bottom: 70px;
}

header .icons #like {
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  display: block;
  width: 15px;
  height: 15px;
  position: relative;
  color: #d33;
  top: -17px;
  right: -25px;
  font-family: notoSans_b;
}

header .icons a {
  text-decoration: none;
  color: #333;
}
=======
  box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315); }
  header .logo {
    position: relative;
    top: 70px;
    width: 180px;
    text-align: center; }
    header .logo a {
      text-decoration: none;
      color: #fff; }
    header .logo img {
      width: 90%; }
  header ul {
    position: absolute;
    bottom: 180px; }
    header ul li {
      margin: 1px 0;
      position: relative; }
      header ul li:hover {
        background-color: #fff;
        box-shadow: -2px 3px 6px rgba(63, 62, 62, 0.397);
        transition: .3s; }
      header ul li:hover a {
        color: #000;
        transition: .3s; }
      header ul li a {
        width: 185px;
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 20px; }
  header .icons {
    width: 180px;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    position: absolute;
    bottom: 70px; }
    header .icons #like {
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      display: block;
      width: 15px;
      height: 15px;
      position: relative;
      color: #d33;
      top: -17px;
      right: -25px;
      font-family: notoSans_b; }
    header .icons a {
      text-decoration: none;
      color: #fff; }
>>>>>>> 73af362c57109664bed625416a4a047e3c606f5f

header ul li:nth-child(5) {
  background-color: #EAAF88;
}

header ul li:nth-child(5) a {
  color: #fff;
  font-family: notoSans_r;
}

header ul li:nth-child(5):after {
  z-index: -1;
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background-color: #EAAF88;
  position: absolute;
  top: 7px;
  right: -17px;
  transform: rotate(45deg);
}

.c1 {
  height: 50vh;
  background-color: #666;
}

.c1 .c11 {
  height: 30vh;
  background-color: #226;
}

.c2 {
  width: 300px;
  height: 300px;
  background-color: #339;
}

/*# sourceMappingURL=member.css.map */
