@import 'base/_reset.scss';
@import 'base/_var.scss';
@import 'base/_boxsizing.scss';
@import 'mixins/_afterClear.scss';
@import 'base/_font.scss';
@import 'modules/_btns.scss';
@import './layout/_container.scss';
@import 'modules/_footer.scss';
@import './modules/_header.scss';
@import 'mixins/_rwd.scss';
@import 'mixins/_navNow.scss';
@import "base/btn";
@import "base/genderIcon";
@include navNow(1);
.navTest {
    width: 20vw;
    height: 100vh;
    display: inline-block;
    background-color: pink;
    position: fixed;
}

.right {
    width: calc(100% - 200px);
    margin-left: 200px;
    .container1 {
        width: 100%;
        position: relative;
        margin-bottom: 100px;
        padding: 60px 50px 0;
        &,
        & * {
            outline: none;
        }
        .catItem {
            display: block;
            position: relative;
            .img {
                width: 300px;
                height: auto;
                border: 8px #fff solid;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                overflow: hidden;
                position: relative;
                .favorite {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    color: rgb(250, 55, 55);
                    font-size: $font-size-h2;
                    z-index: 3;
                }
            }
            .img,
            figure {
                display: inline-block;
            }
            figure {
                vertical-align: top;
                line-height: 1.5em;
                padding-top: 20px;
                padding-left: 10px;
                position: relative;
                width: calc(100% - 310px);
                height: 400px;
                h1 {
                    font-size: $font-size-h2;
                    font-weight: bold;
                }
                .btn {
                    position: absolute;
                    display: block;
                    width: 100%;
                    bottom: 0;
                }
            }
        }
        .donateForm {
            width: 500px;
            text-align: center;
            font-size: $font-size-base;
            line-height: 1.5em;
            margin-left: 320px;
            margin-top: 50px;
            table {
                height: 200px;
                width: 100%;
                border: 1px solid #000;
                td {
                    vertical-align: middle;
                    border: 1px solid #000;
                    &:last-child {
                        width: 30%;
                    }
                    input {
                        width: 100%;
                        height: 100%;
                        font-size: $font-size-base;
                        line-height: 2em;
                        outline: none;
                        border: none;
                        text-align: center;
                        &::-webkit-input-placeholder {
                            font-style: italic;
                            font-size: $font-size-base;
                        }
                    }
                }
            }
            input[type=submit] {
                margin-top: 20px;
            }
        }
        .introduction {
            letter-spacing: 2px;
            line-height: 1.5em;
            font-size: $font-size-base;
            .title {
                display: block;
                margin-top: 30px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            small {
                font-size: $font-size-small;
                padding-left: 20px;
            }
        }
    }
}

@import 'respond/_catContentSmall.scss';
@import 'respond/_catContentMedium.scss';