@mixin navNow($nth){
    header
        ul li{
            &:nth-child(#{$nth}){
                background-color: #fff;
                box-shadow: -2px 3px 5px rgba(63, 62, 62, 0.199);
            }
            &:nth-child(#{$nth}) a{
                color: #333;
                font-family: notoSans_r;
            }     
            &:nth-child(#{$nth}):after{
                z-index: -1;    
                content: '';
                display: block;
                width: 34px;
                height: 34px;
                background-color: #fff;
                position: absolute;
                top: 7px;
                right: -17px;
                transform: rotate(45deg);
                box-shadow: 3px 3px 5px rgba(63, 62, 62, 0.199);
            }
            // @include navNow(nth);  第幾頁就輸入多少(nth)
            
        }
}