.defaultBtn {
    font-size: 16px;
    border: #333 1px solid;
    border-radius: 24px;
    color: #333;
    padding: 4px 30px;
    background-color: transparent; // transition: 1s all ease;
    cursor: pointer;
    transition: .3s all;
    &:hover {
        color: white;
        background-color: #EAAF88;
        border-color: #EAAF88;
    }
}