@font-face {
    font-family: notoSans;
    src: url('../fonts/NotoSansCJKtc-Thin.otf');
}
@font-face {
    font-family: notoSans_r;
    src: url('../fonts/NotoSansCJKtc-Regular.otf');
}
@font-face {
    font-family: notoSans_b;
    src: url('../fonts/NotoSansCJKtc-Black.otf');
}
body{
    font-family: notoSans;
    letter-spacing: 3px;
}
