body {
    background-image: url(../images/marble.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.right {
    width: calc(100% - 200px);
    margin-left: 200px;
    .container1 {
        min-height: 80vh;
        width: 100%;
        position: relative;
        padding-top: 40px;
        margin-bottom: 40px;
        #sortCat {
            left: 10px;
        }
        #black {
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            display: none;
            background-color: rgba(0, 0, 0, 0.8);
        }
        #quickViewArea {
            position: fixed;
            height: 600px;
            width: 450px;
            z-index: 1001;
            display: none;
            box-sizing: border-box;
            border: 10px solid #fff;
            #cancelQkv {
                position: absolute;
                top: 4px;
                right: 4px;
                cursor: pointer;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        a {
            text-decoration: none;
        }
        h2 {
            text-align: center;
            font-size: $font-size-h1;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 20px;
            line-height: 26px;
            letter-spacing: 15px;
            text-align: center;
            small {
                font-size: $font-size-base;
                color: #666;
                letter-spacing: 30px;
            }
        }
        .selectForm {
            user-select: none;
            margin-left: 10px;
            margin-top: 20px;
            width: 500px;
            margin: 0 auto;
            position: relative;
            text-align: center;
            .advanceSearch {
                position: absolute;
                right: 64px;
                top: 50px;
                cursor: pointer;
                font-weight: 400;
            }
            .fa-angle-down {
                padding-left: 5px;
            }
            .fa-angle-up {
                padding-left: 5px;
            }
            .advanceSearch:hover .fa-angle-down {
                animation: 1s transYDown infinite linear;
            }
            .advanceSearch:hover .fa-angle-up {
                animation: 1s transYUp infinite linear;
            }
            @keyframes transYDown {
                from {
                    transform: translateY(-6px);
                }
                to {
                    transform: translateY(4px);
                }
            }
            @keyframes transYUp {
                from {
                    transform: translateY(4px);
                }
                to {
                    transform: translateY(-6px);
                }
            }
            #advanced {
                position: fixed;
                left: -100px;
                &~div {
                    margin-top: 40px;
                    height: 0;
                    overflow: hidden;
                    transition: 1s ease;
                }
                &:checked~div {
                    // display: block;
                    height: 280px;
                }
            }
            .advanceSearchItem {
                text-align: left;
                div {
                    position: relative;
                    label {
                        font-family: 'Noto Sans TC';
                        position: relative;
                        top: 0px;
                        left: 0;
                    }
                    label.toMiddle {
                        top: -134px;
                    }
                }
            }
            .selectTitle {
                font-size: $font-size-large;
                vertical-align: middle;
                font-weight: 400;
            }
            .toMiddle:before {
                content: '';
                width: 0;
                height: 100%;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                background: #f00;
            }
            .formInsert {
                display: inline-block;
                .searchBar {
                    width: 260px;
                    height: 30px;
                    border-radius: 100px;
                    border: 2px solid black;
                    font-size: $font-size-base;
                    text-indent: 4px;
                    margin-right: 6px;
                    padding-left: 5px;
                    &:focus {
                        outline: none;
                    }
                    &:-ms-input-placeholder {
                        font-size: $font-size-base;
                        line-height: 30px;
                        letter-spacing: 4px;
                        padding: 5px 15px;
                    }
                    &:-moz-placeholder {
                        font-size: $font-size-base;
                        line-height: 30px;
                        letter-spacing: 4px;
                        padding: 5px 15px;
                    }
                    &::-moz-placeholder {
                        font-size: $font-size-base;
                        line-height: 30px;
                        letter-spacing: 4px;
                        padding: 5px 15px;
                    }
                    &::-webkit-input-placeholder {
                        font-size: $font-size-base;
                        line-height: 30px;
                        letter-spacing: 4px;
                        padding: 5px 15px;
                    }
                }
                .condition {
                    padding: 5px 10px;
                    border: 1px solid transparent;
                    font-family: 'Noto Sans TC';
                    font-weight: 500;
                    background-color: #fff;
                    color: #333;
                    line-height: 20px;
                    border-radius: 4px;
                    cursor: pointer;
                    margin: 6px;
                    outline: none;
                    transition: .3s all;
                    letter-spacing: 1.5px;
                    &:hover {
                        background-color: #fefefe;
                        color: #EAAF88;
                        border: 1px solid #EAAF88;
                    }
                }
                .condition1 {
                    margin-left: 20px;
                }
                .conditionSelected {
                    background-color: #EAAF88;
                    color: #ffffff;
                    border: 1px solid #EAAF88
                }
                .forRWD {
                    display: none;
                }
            }
        }
        #sortCat {
            border: solid #333 1px;
            background-color: #fffffb;
            text-align: center;
            position: absolute;
        }
        .catPic {
            width: 100%;
            margin: 60px auto 0;
            position: relative;
            .catItem {
                width: 300px;
                background-size: 100%;
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 30px;
                position: relative;
                .favorite {
                    position: absolute;
                    left: 14px;
                    top: 14px;
                    color: rgb(250, 55, 55);
                    font-size: $font-size-h2;
                    z-index: 3;
                }
                .catContent {
                    position: relative;
                    width: 300px;
                    height: auto;
                    border: 8px solid #fff;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                    overflow: hidden;
                    .img {
                        -webkit-transition: all 0.35s ease-in-out;
                        -moz-transition: all 0.35s ease-in-out;
                        transition: all 0.35s ease-in-out;
                        z-index: -1;
                        position: relative;
                        image-rendering: optimizeSpeed;
                        image-rendering: -moz-crisp-edges;
                        image-rendering: -o-crisp-edges;
                        image-rendering: -webkit-optimize-contrast;
                        image-rendering: optimize-contrast;
                        -ms-interpolation-mode: nearest-neighbor;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    &:hover .img {
                        -webkit-transform: translateY(-30px);
                        -moz-transform: translateY(-30px);
                        -ms-transform: translateY(-30px);
                        -o-transform: translateY(-30px);
                        transform: translateY(-30px);
                    }
                    &:hover .quickView {
                        visibility: visible;
                        opacity: 1;
                        -webkit-transform: translateY(0px);
                        -moz-transform: translateY(0px);
                        -ms-transform: translateY(0px);
                        -o-transform: translateY(0px);
                        transform: translateY(0px);
                    }
                }
                .quickView {
                    position: absolute;
                    letter-spacing: 2px;
                    left: 0;
                    bottom: 0px;
                    width: 100%;
                    text-align: center;
                    visibility: hidden;
                    height: 60px;
                    line-height: 60px;
                    background: #EAAF88;
                    opacity: 0;
                    cursor: pointer;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    -webkit-transform: translateY(100%);
                    -moz-transform: translateY(100%);
                    -ms-transform: translateY(100%);
                    -o-transform: translateY(100%);
                    transform: translateY(100%);
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    text-align: center;
                    font-size: $font-size-large;
                    z-index: 2;
                    border: none;
                    outline: none;
                }
                figure {
                    font-size: $font-size-base;
                    line-height: 1.5em;
                    color: #000000;
                    padding-left: 20px;
                    margin-top: 6px;
                    h3 {
                        font-size: $font-size-h3;
                        margin-left: -10px;
                        font-weight: 400;
                    }
                }
            }
            .page {
                text-align: center;
                .pageNo {
                    border-width: 1px;
                    border-radius: 0px;
                    padding: 2px;
                    padding-left: 5px;
                    width: 20px;
                    line-height: 1.5em;
                    display: inline-block;
                    text-align: center;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}