@import '../mixins/_rwd.scss';
footer {
    background-color: #f5eae3;
    margin-left: 200px;
    padding: $gap;
    height: 15vh;
    .follow {
        padding: $gap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav {
        margin: auto;
        ul {
            display: flex;
            justify-content: space-around;
            li {
                width: 20%;
                margin: $gap;
                &:hover {
                    transform: translateY(-3px);
                    transition: .35s;
                }
                a {
                    text-align: center;
                    border: 1px solid #333;
                    text-decoration: none;
                    color: #333;
                    display: block;
                    width: 100%;
                    padding: $gap;
                }
            }
        }
    }
    span {
        display: inline-block;
        position: relative;
        top: -20px;
        padding: 10px;
    }
}
@import '../respond/_footerSmall.scss';
