@include navNow(4);
//clearfix
@mixin clearfix {
  &:after,
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom:1;
}

body {
  background-image: url(../images/marble.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 26px;
  letter-spacing: 15px;
  text-align: center;
  padding: 5%;
  margin: 0;
  transition: .3s;
}

h2 {
  text-align: left;
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  color: #EAAF88;
}

.container {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.808);
  border: 4px solid #666;
  max-width: 991px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
}

.pobox {
  margin-bottom: 8%;
  .post-header {
    .post-ab {
      // text-align: right;
    }
  }
}
.rebox {
  border: 2px solid #EAAF88;
}
.post-ab {
  text-align: left;
  span {
    margin: 1%;
    opacity: .7;
  }
}

.post-body {
  text-align: left;
  padding: 2%;
  margin-top: 2%;
  line-height: 28px;
}

.post-ft {
  margin-top: 2%;
  text-align: right;
}

@media screen and (min-width: 992px) {
  .m-box {
    margin-left: 200px;
  }
}

@media screen and (max-width: 991px) {
  header {
    display: none;
  }
  .container{
    width: 80%;
  }
}

@media screen and (max-width: 651px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
}


//
.postfrom {
  max-width: 991px;
  width: 100%;
  margin: 2% auto;
  background-color: red;
  text-align: left;
  background-color: #eee;
  border: 1px solid rgba(241, 209, 146, 0.815);
  p {
    padding: 5px;
    background-color: #ccc;
  }
}

.post-select {
  padding: 5px;
  margin-top: 5px;
  input {
    width: 87.5%;
  }
}

.text-tar {
  padding: 5px;
  textarea {
    resize: none;
    width: 99.9%;
  }
}

.btns {
  margin: 1%;
  text-align: right;
}

.reportBox{
  width: 250px;
  height: 160px;
  padding: 15px;
  background-color: rgb(231, 230, 230);
  border-radius: 15px;
  z-index: 99999;
  position: fixed;
  top: calc(50% - 80px);
  left: calc(50% - 125px);
  display: none;
  box-shadow: 2px 2px 2px rgba(102, 102, 102, 0.7),0px 0px 3px rgba(102, 102, 102, 0.7);
  table{
    margin: auto;
    input[type="button"]{
      cursor: pointer;
    }
  }
  td{
    padding: 6px;
    color: #333;
  }
}