@keyframes rororo {
    to {
        transform: rotate(360deg);
    }
}
@keyframes upupup{
    form{transform: perspective(600px) translateY(0) translateZ(0);}
    to{transform: perspective(600px) translateY(-50px) translateZ(100px);}
}
body{
    background-image: url(../images/colorful.jpg);
    background-size: cover;
}
.svg-space{
    height: 20vh;
    padding-top: 5vh;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    #logo{
        margin: auto;
        width: 250px;
        height: 450px;
    }
}
.guide {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
        text-decoration: none;
    }
    .front,
    .backed {
        position: relative;
        transition: .3s;
        img {
            width: 300px;
            height: 300px;
            animation: rororo infinite 6s linear;
        }
        &:hover .watch{
            animation: upupup 3s linear forwards;
        }
    }
    .backed img {
        animation: rororo infinite 6s linear reverse;
    }
    .anchor{
        background-color: rgba(51, 51, 51, 0.397);
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: $font-size-h1;
        color: #fff;
        line-height: 150px;
        text-align: center;
        border-radius: 50%;
        font-weight: 500;
    }
}