@include navNow(2);
.right {
    height: 300vh;
    position: relative;
    margin-left: 200px;
    background-color: #D3DAE2;
    z-index: 0;
    .searchsection{
        width: 34%;
        background-color: rgba(90, 107, 126, 0.767);
        position: absolute;
        top: 8%;
        left: 38%;
        z-index: 0;
        .dropholder {
            width: 337.5px;
            height: 60px;
            margin: 130px 0 100px 60px;
            padding: 0 0 0 20px;
            border-radius: 60px;
            font: 18px arial;
            color: #fff;
            position: relative;
            box-sizing: border-box;
            border: 2px solid #fff;
            animation: move 3s ease-in-out infinite;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                width: 250px;
                height: 5px;
                background: rgba(0, 0, 0, 0);
                display: block;
                top: 100px;
                left: 37px;
                margin: auto;
                border-radius: 50%;
                box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
                animation: moveShadow 3s ease-in-out infinite;
            }
            p {
                float: left;
                line-height: 60px;
            }
        }

        .dropholder:hover,
        .dropholder:hover:after {
            animation-play-state: paused;
        }

        .dropdown>p {
            font-size: 16px;
        }

        .dropdown,
        .dropholder {
            background-color: transparent;
        }

        .dropdown {
            margin-left: 20px;
            float: left;
            width: 225px;
            padding: 0 0 0 20px;
            border-radius: 0 60px 60px 0;
            cursor: pointer;
            height: 58px;
            border-left: 2px solid #fff;
            position: relative;
            &:hover {
                background-color: rgba(255, 255, 255, 0.9);
                color: #333;
            }
            &:after {
                content: "▾";
                font-size: 18px;
                position: absolute;
                right: 20px;
                top: 18px;
                display: block;
            }
        }

        .menu {
            position: absolute;
            right: 20px;
            top: 70px;
            width: 200px;
            cursor: pointer;
            opacity: 0;
            transform-style: preserve-3d;
            transform: rotatey(100deg) rotateX(5deg);
            backface-visibility: hidden;
            background-color: transparent;
            border: 2px solid #fff;
            border-radius: 5px;
            transition: all 0.8s;
            z-index: 5;
            overflow: hidden;
            li {
                padding: 10px 10px;
                color: #e8f8ff;
                transition: all 0.3s;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.9);
                    color: #333;
                    padding-left: 20px;
                }
            }
        }

        .menu li:last-child {
            border: none;
        }

        .showMenu {
            opacity: 1;
            transform: rotateX(0deg) translatey(0px);
        }

        li>i {
            float: left;
            padding-top: 3px;
            padding-right: 8px;
        }

        p>i {
            position: relative;
            top: 2px;
        }

        i {
            opacity: 0.7;
        }

        @keyframes move {
            0%,
            100% {
                transform: translateY(-10px);
            }
            50% {
                transform: translateY(0);
            }
        }

        @keyframes moveShadow {
            0%,
            100% {
                transform: translateY(10px);
                opacity: 0.4;
            }
            50% {
                transform: translateY(0);
                opacity: 1;
            }
        }

        #content {
            position: absolute;
            z-index: 999;
            height: 40px;
            width: 300px;
            top: 25%;
            left: 100%;
            margin-left: 8%;
            transform: translate(-50%, -50%);
        }

        #content.on {
            animation-name: in-out;
            animation-duration: 0.7s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
        }

        input {
            box-sizing: border-box;
            width: 50px;
            height: 50px;
            border: 4px solid #FFFFFF;
            border-radius: 50%;
            background: none;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            outline: none;
            transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
            transition-delay: 0.4s;
            transform: translate(-100%, -50%);
        }

        .search {
            background: none;
            position: absolute;
            top: 0px;
            left: 0;
            height: 50px;
            width: 50px;
            padding: 0;
            border-radius: 100%;
            outline: 0;
            border: 0;
            color: inherit;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            transform: translate(-100%, -50%);
            &:before {
                content: "";
                position: absolute;
                width: 20px;
                height: 4px;
                background-color: #fff;
                transform: rotate(45deg);
                margin-top: 26px;
                margin-left: 17px;
                transition: 0.2s ease-in-out;
            }
        }

        .close {
            transition: 0.4s ease-in-out;
            transition-delay: 0.4s;
            &:before {
                content: "";
                position: absolute;
                width: 27px;
                height: 4px;
                margin-top: -1px;
                margin-left: -13px;
                background-color: #fff;
                transform: rotate(45deg);
                transition: 0.2s ease-in-out;
            }
            &:after {
                content: "";
                position: absolute;
                width: 27px;
                height: 4px;
                background-color: #fff;
                margin-top: -1px;
                margin-left: -13px;
                cursor: pointer;
                transform: rotate(-45deg);
            }
        }

        .square {
            box-sizing: border-box;
            padding: 0 40px 0 10px;
            width: 350px;
            height: 50px;
            border-radius: 40px;
            border: 2px solid #FFFFFF;
            background: none;
            color: #fff;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            outline: 0;
            transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
            transition-delay: 0.4s, 0s, 0.4s;
            transform: translate(-100%, -50%);
        }
    }
    


    h2 {
        font-size: 36px;
        text-align: center;
        padding-top: 5%;
        color: #fff;
    }
    .back {
        background-color: #2C3849;
        width: 34%;
        height: 300vh;
        position: absolute;
        left: 33%;
        z-index: -5;
    }
    .item {
        width: 70%;
        margin: 500px auto;
        margin-left: 20%;
        position: relative;
        .text {
            width: 40%;
            background-color: #fff;
            font-size: 18px;
            line-height: 30px;
            padding-left: 5%;
            padding-bottom: 5%;
            h4 {
                font-size: 18px;
                padding-top: 8%;
            }
        }
        .pic {
            position: absolute;
            top: -18%;
            left: 35%;
            width: 60%;
            img {
                width: 65%;
            }
        }
        .bg {
            position: absolute;
            top: 13%;
            left: 5%;
            width: 75%;
            height: 130%;
            z-index: -3;
        }
        .bg1 {
            background-color: rgba(173, 177, 70, 0.767);
        }
        .bg2 {
            background-color: rgba(199, 79, 73, 0.767);
        }
        .bg3 {
            background-color: rgba(139, 105, 73, 0.767);
        }
    }
}