@include navNow(2);
.right {
    background-image: url(../../images/marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: 200px;
    padding-top: 30px;
    .banner {
        background-image: url(../../images/halfdetail1.jpg);
        background-position: 50%;
        background-repeat: no-repeat;
        width: 85%;
        padding-top: 35%;
        margin: auto;
        position: relative;
        h2 {
            color: #333;
            letter-spacing: 10px;
            background-color: rgba(241, 209, 146, 0.815);
            color: #000;
            font-size: $font-size-h2;
            width: 30%;
            text-align: center;
            position: absolute;
            top: -20px;
            left: 50%;
            line-height: 6vw;
        }
        .intro {
            width: 70%;
            position: absolute;
            top: 55%;
            left: -3%;
            font-size: $font-size-base;
            line-height: $line-height-base*1.4;
            padding: 20px;
            background-color: rgba(#F1E8D6, 0.815);
            z-index: 1;
            color: #111;
        }
        .contact {
            width: 35%;
            position: absolute;
            top: 25%;
            left: 70%;
            font-size: $font-size-base;
            line-height: $line-height-base*1.6;
            padding: 20px;
            background-color: rgba(#F1E8D6, 0.815);
            z-index: 1;
            color: #111;
        }
        .rating{
            width: 35%;
            position: absolute;
            top: 90%;
            left: 70%;
            padding: 20px;
            background-color: rgba(241, 209, 146, 0.815);
            @include clear;
            .star{
                width: 60%;
                float: left;
                font-size: $font-size-large;
                .fa-star-o {
                    &:hover{
                        color: #f00;
                    }
                }
            }
            .text{
                width: 40%;
                float: left;
                text-align: center;
            }
        }
    }
    .smallintro{
        display: none;
    }
    .halfwaypic {
        margin: 6% auto;
        .container {
            display: flex;
            justify-content: space-around;
            .picture {
                width: 25%;
                margin: 0 10px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .cat {
        background-image: url(../../images/catbg2.jpeg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        .flycat {
            width: 70px;
            overflow: hidden;
            animation: aa 10s linear infinite;
            &:nth-child(2) {
                position: absolute;
                top: -2%;
                left: 5%;
            }
            &:nth-child(3) {
                position: absolute;
                top: -2%;
                left: 90%;
            }
        }
        @keyframes aa {
            100% {
                top: 100%;
            }
        }
        h2 {
            color: #333;
            font-weight: bold;
            letter-spacing: 15px;
            width: 90%;
            margin: auto;
            padding: 5%;
            text-align: center;
            font-size: $font-size-h2;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .catitem {
                position: relative;
                margin: 0 15px 30px 15px;
                width: 25%;
                .favorite {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    color: rgb(250, 55, 55);
                    font-size: $font-size-h2;
                    z-index: 3;
                }
                img {
                    width: 100%;
                }
                .text {
                    font-size: $font-size-base;
                    line-height: $line-height-base*1.2;
                    padding: 10px;
                    h3 {
                        font-size: $font-size-h3;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .map {
        width: 80%;
        margin: auto;
        padding-bottom: 5%;
        #map {
            width: 100%;
            height: 450px;
        }
        h2 {
            color: #333;
            font-weight: bold;
            width: 90%;
            letter-spacing: 15px;
            margin: auto;
            padding: 5%;
            text-align: center;
            font-size: $font-size-h2;
        }
        img {
            width: 100%;
        }
    }
    .talk {
        background-image: url(../../images/talk.jpg);
        background-attachment: fixed;
        background-position: 20%;
        background-repeat: no-repeat;
        padding-bottom: 3%;
        .container {
            width: 70%;
            margin: 0 auto;
            @include clear;
            h2 {
                color: #333;
                font-weight: bold;
                letter-spacing: 15px;
                width: 90%;
                margin: auto;
                padding: 5%;
                text-align: center;
                font-size: $font-size-h2;
            }
            .article {
                padding: 5px;
                margin-bottom: 5%;
                width: 55%;
                float: left;
                background: rgba(85, 136, 170, 0.788);
                border-radius: 20px;
                &:nth-child(3),
                &:nth-child(5) {
                    float: right;
                }
                h3 {
                    font-size: $font-size-h3;
                    color: #EAAF88;
                    padding: 10px;
                }
                p {
                    border: 1px dashed #fff;
                    border-left: none;
                    border-right: none;
                    border-radius: 20px;
                    color: #ddd; // min-height: 40px;
                    position: relative;
                    padding: 10px;
                    font-size: $font-size-base;
                    line-height: $line-height-base;
                    a {
                        display: flex;
                        justify-content: flex-end;
                        text-decoration: none;
                        color: #EAAF88;
                        &:hover {
                            color: #ddd;
                        }
                    }
                }
                p:before,
                p:after {
                    content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    background: rgba(85, 136, 170, 0.692);
                    transform: rotate(45deg);
                    bottom: -12px;
                    left: 100px;
                }
                p:after {
                    height: 10px;
                    width: 10px;
                    bottom: -7px;
                    border-right: 1px dashed #fff;
                    border-bottom: 1px dashed #fff;
                }
            }
        }
    }
}