@mixin text() {
    background-color: rgba(241, 209, 146, .7);
    color: #111;
    padding: 10px 15px;
    font-size: $font-size-large;
    line-height: $line-height-base*1.4;
}

@include navNow(2);
.right {
    background-image: url(../images/marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: 200px;
    padding-top: 50px;
    .breadcrumbs {
        margin-left: 50px;
        margin-bottom: 0;
    }
    .banner {
        margin: auto;
        @include clear;
        h2 {
            @include text;
            background-color: transparent;
            letter-spacing: 10px;
            font-size: $font-size-h1;
            text-align: center;
            padding: 15px 15px 5px 15px;
            width: 80%;
            margin: auto;
        }
        .contact {
            @include text;
            background-color: transparent;
            text-align: center;
            width: 80%;
            margin: auto;
        }
        .container {
            display: flex;
            justify-content: space-around;
            .bigpic {
                width: 80%;
                margin-top: 50px;
                height: 400px; // background-image: url(../images/halfdetail1.jpg);
                background-size: 100%;
                background-repeat: no-repeat;
            }
            .text {
                width: 50%;
                margin: 15px;
                .intro {
                    @include text;
                    padding: 30px 20px 20px 20px;
                }
                .star {
                    @include text;
                    /****** Style Star Rating Widget *****/
                    .rating {
                        border: none;
                    }
                    .rating>input {
                        display: none;
                    }
                    .rating>label:before {
                        margin: 5px;
                        font-size: 1.25em;
                        font-family: FontAwesome;
                        display: inline-block;
                        content: "\f005";
                    }
                    .rating>.half:before {
                        content: "\f089";
                        position: absolute;
                    }
                    .rating>label {
                        color: #fff;
                        float: right;
                    }
                    /***** CSS Magic to Highlight Stars on Hover *****/
                    .rating>input:checked~label,
                    /* show gold star when clicked */
                    .rating:not(:checked)>label:hover,
                    /* hover current star */
                    .rating:not(:checked)>label:hover~label {
                        color: rgb(243, 40, 74);
                    }
                    /* hover previous stars in list */
                    .rating>input:checked+label:hover,
                    /* hover current star when changing rating */
                    .rating>input:checked~label:hover,
                    .rating>label:hover~input:checked~label,
                    /* lighten current selection */
                    .rating>input:checked~label:hover~label {
                        color: rgb(243, 40, 74);
                    }
                    .ratingtext,
                    .ratingscore {
                        padding: 6px;
                        text-align: right;
                        font-size: $font-size-large;
                        span {
                            font-size: $font-size-large*1.5;
                        }
                    }
                }
            }
        }
    }
    .halfwaypic {
        margin: 20px auto 50px auto;
        .container {
            display: flex;
            justify-content: space-around;
            .picture {
                width: 25%;
                margin: 0 10px;
                box-shadow: 12px 10px 20px -10px #333;
                img {
                    width: 100%;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .cat {
        background-image: url(../images/catbg2.jpeg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-bottom: 50px;
        h2 {
            color: #333;
            font-weight: bold;
            letter-spacing: 15px;
            width: 90%;
            margin: auto;
            padding: 4%;
            text-align: center;
            font-size: $font-size-h2;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .catitem {
                position: relative;
                margin: 0 15px 30px 15px;
                width: 30%;
                overflow: hidden;
                background-color: rgba(223, 222, 222, 0.863);
                box-shadow: 12px 10px 20px -10px #333;
                .favorite {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    color: rgb(250, 55, 55);
                    font-size: $font-size-h2;
                    z-index: 3;
                }
                .catpic {
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition: all 0.35s ease-in-out;
                        &:hover {
                            transform: scale(1.2);
                            cursor: pointer;
                        }
                    }
                }
                .text {
                    font-size: $font-size-base;
                    line-height: $line-height-base*1.2;
                    padding: 20px;
                    h3 {
                        font-size: $font-size-h3;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .map {
        width: 80%;
        margin: auto;
        padding-bottom: 5%;
        #myMap {
            width: 100%;
            padding-top: 600px;
        }
        h2 {
            color: #333;
            font-weight: bold;
            width: 90%;
            letter-spacing: 15px;
            margin: auto;
            padding: 5%;
            text-align: center;
            font-size: $font-size-h2;
        }
        img {
            width: 100%;
        }
    }
    .talk {
        background-image: url(../images/talk.jpg);
        background-attachment: fixed;
        background-position: 20%;
        background-repeat: no-repeat;
        padding-bottom: 3%;
        .container {
            width: 70%;
            margin: 0 auto;
            @include clear;
            h2 {
                color: #333;
                font-weight: bold;
                letter-spacing: 15px;
                width: 90%;
                margin: auto;
                padding: 5%;
                text-align: center;
                font-size: $font-size-h2;
            }
            .article {
                padding: 5px;
                margin-bottom: 5%;
                width: 55%;
                float: left;
                background: rgba(85, 136, 170, 0.788);
                border-radius: 20px;
                &:nth-child(3),
                &:nth-child(5) {
                    float: right;
                }
                h3 {
                    font-size: $font-size-h3;
                    color: #EAAF88;
                    padding: 10px;
                }
                p {
                    border: 1px dashed #fff;
                    border-left: none;
                    border-right: none;
                    border-radius: 20px;
                    color: #ddd; // min-height: 40px;
                    position: relative;
                    padding: 10px;
                    font-size: $font-size-base;
                    line-height: $line-height-base;
                    a {
                        display: flex;
                        justify-content: flex-end;
                        text-decoration: none;
                        color: #EAAF88;
                        &:hover {
                            color: #ddd;
                        }
                    }
                }
                p:before,
                p:after {
                    content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    background: rgba(85, 136, 170, 0.692);
                    transform: rotate(45deg);
                    bottom: -12px;
                    left: 100px;
                }
                p:after {
                    height: 10px;
                    width: 10px;
                    bottom: -7px;
                    border-right: 1px dashed #fff;
                    border-bottom: 1px dashed #fff;
                }
            }
        }
    }
}