@include navNow(5);
.right {
    margin-left: 200px;
    @include afterClear;
    background-image: url(../images/marble.jpg);
    background-size: cover;
    background-attachment: fixed;
    .bigImg {
        height: 40vh;
        background-image: url(../images/cutecatbg3.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    h2 {
        text-align: center;
        font-size: $font-size-h2;
        font-weight: bold;
        padding: 50px 0;
    }
    .leftselect {
        width: 20%;
        float: left;
        margin-right: 30px;
        .lefttitle{
            // background-color: rgba(236, 181, 118, 0.705);
        }
        .leftlist {
            width: 100%;
            li {
                list-style: none;
                margin: 0 10px;
                padding: 20px 0 20px 10px;
                font-size: $font-size-large;
                border-bottom: 1px dotted #999999;
                color: #c2740f;
                cursor: pointer;
                &:hover {
                    color: #0f71c2;
                }
                &:first-child {
                    color: #0f71c2;
                }
            }
        }
        .leftbottom {
            margin-bottom: 150px;
        }
    }
    .smalllist {
        display: none;
    }
    .content {
        width: 76%;
        float: left;
        padding-bottom: 50px;
        input{
            &:focus {
                border: 1px solid #EAAF88;
                box-shadow: 0 0 10px rgb(141, 91, 51);
            }
        }
        input[type=radio]{
            &:focus {
                border: none;
                box-shadow: none;
            }
        }
        input[type=file]{
            &:focus {
                border: none;
                box-shadow: none;
            }
        }
        textarea {
            resize: none;
            &:focus {
                border: 1px solid #EAAF88;
                box-shadow: 0 0 10px rgb(141, 91, 51);
                height: 200px;
            }
        }
        th{
            vertical-align: middle;
        }
        h4 {
            text-align: center;
            font-size: $font-size-h3;
            margin: 30px 0;
        }
        .halfMemInfo {
            form {
                width: 100%;
                table {
                    width: 100%;
                }
                tr {
                    width: 100%;
                    text-align: center;
                }
                th {
                    width: 35%;
                    text-align: center;
                    background-color: rgb(242, 242, 242);
                    border: 2px solid #ccc;
                    padding: 15px;
                }
                td {
                    width: 63%;
                    border: 2px solid #ccc;
                    padding: 15px;
                    input {
                        width: 90%;
                        height: 30px;
                    }
                    span {
                        display: block;
                        border: 1px dashed #EAAF88;
                        .filePic {
                            height: 90px;
                        }
                    }
                }
            }
        }
        .halfMemCat {
            .newbtn {
                display: block;
                margin-left: auto;
                margin-right: 0;
            }
            .newEmpTROff {
                display: none;
            }
            .newEmpTROn {
                display: table-row;
            }
            .newblock {
                display: block;
            }
            span {
                display: block;
                border: 1px dashed #EAAF88;
                .filePic {
                    height: 90px;
                }
            }
            .catInfo {
                width: 100%;
                tr {
                    text-align: center;
                }
                th {
                    width: 30%;
                    text-align: center;
                    background-color: rgb(242, 242, 242);
                    border: 2px solid #ccc;
                    padding: 20px;
                }
                td {
                    border: 2px solid #ccc;
                    padding: 20px;
                    input {
                        width: 90%;
                        height: 30px;
                    }
                    .radio {
                        width: 10%;
                        height: 15px;
                    }
                    .simple {
                        width: 80%;
                    }
                }
            }
            form {
                width: 100%;
                table {
                    width: 100%;
                }
                tr {
                    text-align: center;
                }
                th {
                    width: 30%;
                    text-align: center;
                    background-color: rgb(242, 242, 242);
                    border: 2px solid #ccc;
                    padding: 20px;
                }
                td {
                    border: 2px solid #ccc;
                    padding: 20px;
                    input {
                        width: 90%;
                        height: 30px;
                    }
                    .radio {
                        width: 10%;
                        height: 15px;
                    }
                    .simple {
                        width: 80%;
                    }
                }
                #simple {
                    padding: 10px;
                    p {
                        padding: 10px 0;
                    }
                }
            }
        }
        .halfMemAdoptRecord {
            table {
                width: 100%;
                th {
                    text-align: center;
                    background-color: rgb(242, 242, 242);
                    border: 2px solid #ccc;
                    padding: 15px;
                }
                td {
                    border: 2px solid #ccc;
                    padding: 20px;
                    text-align: center;
                }
            }
        }
        .halfMemAdopt {
            form {
                table {
                    width: 100%;
                }
                th {
                    text-align: center;
                    background-color: rgb(242, 242, 242);
                    border: 2px solid #ccc;
                    padding: 15px;
                }
                td {
                    border: 2px solid #ccc;
                    padding: 20px;
                    text-align: center;
                    .defaultBtn {
                        font-size: 12px;
                    }
                    .circle {
                        color: dodgerblue;
                        label {
                            cursor: pointer;
                        }
                        .fa-check-circle-o {
                            font-size: $font-size-base*1.2;
                        }
                    }
                    .times {
                        color: crimson;
                        label {
                            cursor: pointer;
                        }
                        .fa-times-circle-o {
                            font-size: $font-size-base*1.2;
                        }
                    }
                }
            }
        }
        .halfMemOrderlist {
            font-size: $font-size-h4;
            .newbtn {
                display: block;
                margin-left: auto;
                margin-right: 0;
            }
            h5 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
            }
            span {
                color: rgb(235, 47, 47);
            }
            table {
                width: 100%;
                margin: 30px auto;
                tr {
                    text-align: center;
                }
                th {
                    background-color: rgb(242, 242, 242);
                    border: 1px solid #ccc;
                    padding: 20px 0 20px 0;
                }
                td {
                    border: 1px solid #ccc;
                    padding: 20px 0 20px 0;
                    .fa-trash {
                        font-size: $font-size-base*1.2;
                        color: firebrick;
                        cursor: pointer;
                    }
                }
            }
            .odTable {
                a {
                    text-decoration: none;
                    color: #EAAF88;
                    &:hover {
                        color: #0f71c2;
                    }
                }
            }
        }
    }
}