header {
    background-color: $navColor;
    width: 200px;
    height: 100vh;
    position: fixed;
    padding-left: 15px;
    box-shadow: 2px 0 10px rgba(153, 153, 153, 0.315);
    z-index: 999;
    .logo {
        position: relative;
        top: 60px;
        width: 180px;
        text-align: center;
        a {
            text-decoration: none;
            color: #fff;
        }
        img {
            width: 80%;
        }
    }
    ul {
        position: absolute;
        bottom: 180px;
        li {
            margin: 1px 0;
            position: relative;
            &:hover {
                background-color: #fff;
                box-shadow: -2px 3px 6px rgba(63, 62, 62, 0.397);
                transition: .3s;
            }
            &:hover a {
                color: #000;
                transition: .3s;
            }
            a {
                width: 185px;
                display: block;
                color: $navFontColor;
                text-decoration: none;
                font-size: 18px;
                padding: 15px 20px;
            } // @include navNow(nth);  第幾頁就輸入多少(nth)
        }
    }
    .icons {
        width: 180px;
        display: flex;
        padding: $gap;
        padding-right: 20px;
        justify-content: space-around;
        position: absolute;
        bottom: 40px;
        #like {
            font-size: $font-size-h6;
            text-align: center;
            line-height: 20px;
            display: block;
            width: 15px;
            height: 15px;
            position: relative;
            color: #d33;
            top: -17px;
            right: -25px;
            font-family: 'Noto Sans TC';
            font-weight: 700;
        }
        a {
            &:hover {
                transform: scale(1.15);
                transition: .3s;
            }
            text-decoration: none;
            color:#fff;
        }
    }
}
.hb{
    position: absolute;
    z-index: 999999999;
    background-color: $navColor;
    padding: 2px 5px;
    border-radius: 0 0 50px 50px;
    display: none;
    bottom: -40px;
    right:0;
    padding: 15px 10px 10px 10px;
}
header.active{
    transform: translateY(0);
    transition: .6s;
}

.hamburger .line {
    width: 20px;
    height: 4px;
    background-color: #ffffff;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger:hover {
    cursor: pointer;
}

#hamburger-6.is-active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) {
    width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

#hamburger-6.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(90deg);
    -ms-transform: translateY(-6px) rotate(90deg);
    -o-transform: translateY(-6px) rotate(90deg);
    transform: translateY(-6px) rotate(90deg);
}