.banner{
    margin-left: 200px;
    height: 100vh;
    background-image: url(../../images/AdobeStock_112482963.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .find{
        text-align: center;
        padding: $gap;
        font-weight: bolder;
        font-size: $font-size-large;
        img{            
            width: 40px;
            height: 55px;
            vertical-align: middle;
        }
    }
    .wait{
        @extend .find;
    }
    .search{
        position: relative;
        input{
            margin: $gap auto;
            display: block;
            background-color: rgba(153, 153, 153, 0.493);
            border: 3px solid #fff;
            border-radius: 40px;
            width: 150%;
            position: relative;
            left: -25%;
            padding: 10px $gap*2;
            font-size: $font-size-h4;
            &:-moz-placeholder{
                color: #111;
            }
            &::-webkit-input-placeholder{
                color: #111;
            }
            &:-ms-input-placeholder{
                color: #111;
            }
        }
        .fa-search{
            color: #555;
            position: absolute;
            right: -70px;
            top: 6px;
        }
    }
}
.shop{
    margin-left: 200px;
    height: 100vh;
    overflow: hidden;
    .container{
        @include afterClear();
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .shop-left{
        position: relative;
        top: -600px;
        float: left;
        img{
            display: block;
            margin: 10px;
        }
    }
    .shop-right{
        @extend .shop-left;
        top: -300px;
    }
    .shop-title{
        margin-top: 15vh;
        h2{
            color: #fff;
            background-color: #333;
            padding: 15px 30px;
            margin: $gap 0;
            font-size: $font-size-h4;
        }
        h3{
            color: #333;
            background-color: rgba(144, 143, 143, 0.537);
            padding: 10px 30px;
            border: 2px solid #333;
            margin: $gap 0;
        }
    }
    .prod-list{
        padding: 60px 40px;
        background-color: rgba(144, 143, 143, 0.537);
        border: 2px solid #fff;
        margin-top: 60px;
        li{
            position: relative;
            a{
                text-decoration: none;
                color: #333;
                padding: $gap;
                display: block;
            }
            &:hover:after{
                position: absolute;
                content: '';
                bottom:0;
                left: 10px;
                display: block;
                width: 105px;
                height: 2px;
                background-color: #369;
                opacity: 0.7;
                transition: .3s;
            }
        }
    }
}