%h2-btn {
    font-size: $font-size-h4;
    color: #fff;
    background-color: #333;
    padding: 15px 30px;
    margin: $gap 0;
}

%h3-btn {
    color: #333;
    background-color: rgba(255, 255, 255, 0.537);
    padding: 10px 30px;
    border: 2px solid #333;
    margin: $gap 0;
}

.more {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 15vh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    margin-left: 200px;
    height: 100vh;
    background-image: url(../images/AdobeStock_112482963.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    .find {
        text-align: center;
        padding: $gap;
        font-weight: bolder;
        font-size: $font-size-large;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 40px;
            height: 55px;
            vertical-align: middle;
        }
    }
    .wait {
        @extend .find;
    }
    h2 {
        text-align: center;
        font-size: $font-size-h3;
        padding: $gap;
    }
    .search {
        position: relative;
        select {
            background-color: rgba(255, 255, 255, 0.308);
            border: 3px solid #fff;
            border-radius: 40px;
            text-align-last: center;
            padding: 3px 0;
            font-size: $font-size-h4;
            color: #333;
            cursor: pointer;
        }
        input {
            margin: $gap auto;
            background-color: rgba(255, 255, 255, 0.308);
            border: 3px solid #fff;
            letter-spacing: 2px;
            border-radius: 40px;
            padding: 5px $gap*2.5 5px $gap;
            font-size: $font-size-h4;
            &:-moz-placeholder {
                color: #333;
            }
            &::-webkit-input-placeholder {
                color: #333;
            }
            &:-ms-input-placeholder {
                color: #333;
            }
        }
        .fa-search {
            color: #fff;
            position: absolute;
            right: 10px;
            top: 30px;
        }
    }
}

.pick-kit {
    margin-left: 200px;
    text-align: center;
    height: 100vh;
    position: relative;
    background-image: url(../images/wood.jpg);
    .pick-title {
        height: 15vh;
        display: flex;
        align-items: flex-start;
        h2 {
            @extend %h2-btn;
            height: 40px;
            line-height: 10px;
        }
        h3 {
            @extend %h3-btn;
        }
    }
    ul {
        width: 200%;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            width: 28%;
            float: left;
            .cat_list_bg {
                width: 100%;
                height: 70vh;
                background-color: #fff;
                padding: 10px;
                a {
                    text-decoration: none;
                    color: #333;
                    .cat_list {
                        height: 100%;
                        background: #369;
                        box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.76), -1px -1px 6px rgba(0, 0, 0, 0.555);
                        .bubble {
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;
                            display: block;
                            background-color: rgba(255, 255, 255, 0.687);
                            margin: 0 auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            span {
                                display: block;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
            &:nth-child(odd) .cat_list_bg a .cat_list {
                background-image: url(../images/catcat_171225_0010.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            &:nth-child(even) .cat_list_bg a .cat_list {
                background-image: url(../images/catcat_171225_0011.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            &:nth-child(even) .cat_list_bg a .cat_list .bubble {
                position: relative;
                top: 50%;
            }
            &:nth-child(odd) .cat_list_bg a .cat_list .bubble {
                position: relative;
                top: 10%;
            }
        }
    }
    .arrow {
        width: 50px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.411);
        position: absolute;
        top: 70vh;
        z-index: 666;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .right-arrow {
        right: 0;
    }
}

.half {
    margin-left: 200px;
    background-image: url(../images/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    .half-title {
        height: 10vh;
        display: flex;
        align-items: center;
        h2 {
            @extend %h2-btn;
            height: 40px;
            line-height: 10px;
        }
        h3 {
            @extend %h3-btn;
        }
    }
    .half-item {
        padding: $gap/2 $gap;
        height: 25vh;
        margin: 0.84vh 0;
        display: flex;
        background-color: #fff;
    }
    .half-qty {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 40px;
            height: 55px;
            margin: 0 5px;
        }
    }
    .half-pic {
        width: 50%;
        height: 100%;
        background-image: url(../images/half_1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .half-text {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
        a {
            text-decoration: none;
            transition: .3s all;
            color: #333;
            margin: 10px 0;
            &:hover {
                color: #EAAF88;
            }
        }
        .read-more {
            align-self: flex-end;
            text-decoration: underline;
        }
        .half-name {
            font-family: notoSans_r;
            font-size: $font-size-h4;
        }
        span {
            margin: 10px 0;
        }
    }
}

.shop {
    margin-left: 200px;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/wood.jpg);
    .container {
        @include afterClear();
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .shop-left {
        position: relative;
        top: -600px;
        float: left;
        img {
            display: block;
            margin: 10px;
        }
    }
    .shop-right {
        @extend .shop-left;
        top: -300px;
    }
    .shop-title {
        margin-top: 15vh;
        h2 {
            @extend %h2-btn;
        }
        h3 {
            @extend %h3-btn;
        }
    }
    .prod-list {
        padding: 60px 40px;
        background-color: rgba(255, 255, 255, 0.537);
        border: 2px solid #fff;
        margin-top: 60px;
        li {
            position: relative;
            a {
                text-decoration: none;
                color: #222;
                font-weight: bolder;
                padding: $gap;
                display: block;
            }
        }
    }
}

.section {
    .quick-signUp {
        height: 80vh;
        width: 100%;
        margin-left: 200px;
    }
    position: relative;
    footer {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.game-point {
    height: 100vh;
    background-color: #EAAF88;
    margin-left: 200px;
    box-shadow: 20px 20px #333 inset, -20px -20px #333 inset;
    .game-point-title {
        height: 20vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    h2 {
        @extend %h2-btn;
        height: 40px;
        line-height: 10px;
    }
    h3 {
        @extend %h3-btn;
    }
    .game-point-top {
        width: 80%;
        margin: auto;
        height: 35vh;
        border-bottom: 3px solid #fff;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding-right: 60px;
        .askBox {
            position: relative;
            height: 30vh;
            display: flex;
            padding: 50px;
            justify-content: center;
            align-items: center;
            border: 3px solid #fff;
            border-radius: 20% 60% 30% 60%;
            background-color: #EAAF88;
            &:after{
                content: '';
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 60% 40% 50% 60%;
                border: 3px solid #fff;
                right: -40px;
                top: 50%;
            }
            &:before{
                content: '';
                display: block;
                position: absolute;
                width: 13px;
                height: 13px;
                border-radius: 60% 40% 50% 60%;
                border: 3px solid #fff;
                right: -55px;
                top: 35%;
            }
        }
        .cat-ask {
            // position: absolute;
            // right: 50px;
            // bottom: 0;
            max-width: 80%;
            max-height: 80%;
            align-self: flex-end;
            margin-left: 60px;
        }
    }
    .game-point-bottom {
        position: relative;
        width: 90%;
        margin: auto;
        display: flex;
        height: 45vh;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 100px;
        padding-bottom: 20px;
        .people {
            position: relative;
            z-index: 2;
            width: 100px;
            height: 105px;
            left:0;
        }
        .option-area {
            align-self: flex-start;
            height: 150px;
            position: relative;
        }
        .option-a-front,.option-a-backed,.option-b-front,.option-b-backed{
            padding: 60px;
            background-color: #369;
            position: absolute;
            top: 0;
            left: 0;
        }
        .hug {
            position: relative;
            width: 50px;
            height: 90px;
            z-index: 1;
            right:0;
        }
    }
}