@include respond-to(small) {
    header {
        display: none;
    }
    .right {
        width: 100%;
        margin: 0;
        .container1 {
            .selectForm {
                width: 100%;
                .formInsert {
                    width: 100%;
                    .searchBar {
                        width: 80%;
                        margin-left: 0;
                    }
                    .defaultBtn {
                        padding: 4px 14px;
                    }
                }
                .advanceSearch {
                    right: 5%
                }
                #advanced:checked~div {
                    height: 710px;
                }
                .advanceSearchItem {
                    padding-left: 20px;
                    padding-right: 20px;
                    .selectTitle{
                        display: block;
                        margin-top: 20px;
                    }
                    .condition {
                        padding: 3px 8px;
                        margin: 4px 2px;
                    }
                    .forRWD{
                        display: block;
                    }
                }
            }
            .catPic {
                .catItem {
                    display: block;
                    margin: 0 auto 100px;
                    .catContent,
                    figure {
                        display: inline-block;
                    }
                }
            }
        }
    }
    footer {
        margin-left: 0;
    }
}