        @include respond-to(medium) {
            header {
                display: none;
            }
            .right {
                width: 100%;
                margin: 0;
                .container1 {
                    #sortCat {
                        left: 134px;
                        padding: 2px 6px;
                    }
                    #quickViewArea {
                        height: 540px;
                        width: 360px;
                    }
                    .selectForm {
                        .advanceSearch {
                            right: 14%;
                        }
                    }
                    .catPic {
                        #sortCat {
                            left: 100px;
                        }
                        .catItem {
                            width: 80%;
                            display: block;
                            margin: 0 auto 100px;
                            .catContent,
                            figure {
                                display: inline-block;
                                vertical-align: top;
                            }
                            figure {
                                padding-top: 40px;
                                font-size: $font-size-large;

                                h3{
                                    font-size: $font-size-h2;
                                }
                            }
                        }
                        .page{
                            .pageNo{
                                width: 30px;
                                padding: 6px;
                                padding-left: 8px;
                            }
                        }
                    }
                }
            }
            footer {
                margin-left: 0;
            }
        }