@include respond-to(small) {
    header {
        display: none;
    }
    .right {
        width: 100%;
        margin: 0;
        .container1 {
            padding-top: 0;
            padding-left: 20px;
            padding-right: 20px;
            .catItem {
                width: 100%;
                .img,
                figure {
                    display: block;
                    margin: 0;
                    margin: 0 auto;
                }
                figure {
                    height: auto;
                    padding-left: 0;
                    width: 100%;
                    margin: 0 auto;
                }
                div.btn {
                    position: relative;
                    bottom: auto;
                    margin: 20px auto 0;
                    font-size: 0;
                    width: 100%;
                    button {
                        float: left;
                        font-size: $font-size-base;
                        display: block;
                        width: 48%;
                        max-width: 200px;
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                    &:after {
                        content: '';
                        clear: both;
                        display: block;
                    }
                }
            }
            .donateForm {
                width: 90%;
                margin: 20px auto 0;
            }
            .donateInfo {
                #canvas {
                    width: 100%;
                }
            }
            .introduction {
                margin-top: 40px;
            }
        }
    }
    footer {
        margin-left: 0;
        width: 100%;
    }
}