@include respond-to(medium) {
    header{
        display: none;
    }
    .right {
        padding: 0;
        margin: 0;
        .breadcrumbs {
            padding-top: 30px;
        }
        .cat {
            .container {
                .catitem {
                    width: 40%;
                }
            }
        }
        .talk {
            .container {
                .article {
                    width: 100%;
                    float: left;
                    margin-bottom: 10%;
                }
            }
        }
    }
}