@include respond-to(small) {
    .right {
        .searchsection {
            #selectBox {
                display: block;
            }
        }
        #content,
        .dropholder {
            display: none;
        }
        .item {
            width: 80%;
            margin: 80px auto 180px auto;
            @include clear;
            .text {
                position: absolute;
                top: 60%;
                left: 40%;
                width: 70%;
                color: #ddd;
            }
            .tx1 {
                background-color: rgba(66, 136, 115, 0.767);
            }
            .tx2 {
                background-color: rgba(199, 79, 73, 0.767);
            }
            .tx3 {
                background-color: rgba(139, 105, 73, 0.767);
            }
            .pic {
                position: static;
            }
            .bg {
                display: none;
            }
        }
    }
}