@include respond-to(small) {
    header {
        display: none;
    }
    .right {
        padding: 0;
        margin: 0;
        .banner {
            h2 {
                width: 70%;
                background-color: transparent;
            }
            .contact {
                width: 70%;
                background-color: transparent;
            }
            .container {
                display: block;
                .bigpic {
                    width: 100%;
                    padding-top: 65%;
                    margin: 0;
                    animation: bb 20s linear infinite;
                }
                @keyframes bb {
                    20% {
                        background-image: url(../images/halfdetail7_resized.jpg);
                    }
                    40% {
                        background-image: url(../images/halfdetail5.jpg);
                    }
                    60% {
                        background-image: url(../images/halfdetail6.jpg);
                    }
                    80% {
                        background-image: url(../images/halfdetail4.jpg);
                    }
                }
                .text {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 50px;
                }
            }
        }
        .halfwaypic {
            display: none;
        }
        .cat {
            .container {
                .catitem {
                    width: 50%;
                }
            }
        }
        .talk {
            .container {
                .article {
                    width: 100%;
                    float: left;
                    margin-bottom: 10%;
                }
            }
        }
    }
}