@include respond-to(small) {
    header {
        display: none;
    }
    .right {
        margin: 0;
        .leftselect {
            display: none;
        }
        .smalllist {
            display: block;
            ul {
                text-align: center;
                li {
                    width: 18%;
                    display: inline-block;
                    padding: 10px 0;
                    border-bottom: 2px dotted #c2740f;
                    cursor: pointer;
                    &:hover {
                        color: #0f71c2;
                    }
                    &:first-child {
                        color: #0f71c2;
                    }
                }
            }
        }
        .content {
            width: 80%;
            float: none;
            margin: 50px auto 0 auto;
            padding-bottom: 50px;
            .halfMemInfo{
                textarea{
                    width: 90%;
                    height: 200px;
                }
            }
        }
    }
}