@include respond-to(medium) {
    header {
        display: none;
    }
    .right {
        margin: 0;
        .result {
            .container {
                .item {
                    width: 80%;
                    margin: 50px auto 100px auto;
                    @include clear;
                    .text {
                        width: 100%;
                        color: #ddd;
                    }
                    .tx1 {
                        background-color: rgba(66, 136, 115, 0.767);
                    }
                    .tx2 {
                        background-color: rgba(199, 79, 73, 0.767);
                    }
                    .tx3 {
                        background-color: rgba(139, 105, 73, 0.767);
                    }
                    .pic {
                        position: static;
                    }
                    .bg {
                        display: none;
                    }
                }
            }
        }
    }
}