@include respond-to(small) {
    header {
        display: none;
    }
    .right {
        padding: 0;
        margin: 0;
        .breadcrumbs {
            margin: 0;
            padding-top: 30px;
            a{
                margin-top: 10px;
            }
        }
        .banner {
            h2 {
                width: 70%;
                background-color: transparent;
            }
            .contact {
                width: 70%;
                background-color: transparent;
            }
            .container {
                display: block;
                .bigpic {
                    width: 100%;
                    height: 0;
                    padding-top: 65%;
                    margin: 0;
                }
                .text {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 50px;
                }
            }
        }
        .halfwaypic {
            display: none;
        }
        .cat {
            .container {
                .catitem {
                    width: 50%;
                }
            }
        }
        .talk {
            .container {
                .article {
                    width: 100%;
                    float: left;
                    margin-bottom: 10%;
                }
            }
        }
    }
}