@include respond-to(small) {
    %h2-btn {
        margin: 0;
    }
    %h3-btn {
        margin: 0;
    }
    .container {
        max-width: 90%;
    }
    .banner {
        .search {
            select,
            input {
                font-size: 16px;
            }
        }
    }
    .game-point {
        .game-point-top {
            display: block;
            .game-qty-box {
                width: 40%;
            }
            .askBox {
                width: 130%;
            }
        }
        .game-point-bottom {
            .option-area-a,
            .option-area-b {
                align-self: center;
                width: 24%;
                padding-bottom: 24%;
            }
        }
    }
    .pick-kit {
        ul {
            width: 600%;
            li {
                &:nth-child(even) .cat_list_bg a .cat_list .bubble {
                    top: 40%;
                }
                &:nth-child(odd) .cat_list_bg a .cat_list .bubble {
                    top: 5%;
                }
            }
        }
    }
    .noticegame {
        // .boxcontainer {
        //     width: 100%;
        //     margin-top: 50px;
        //     #rightbox,
        //     #leftbox {
        //         width: 45%;
        //     }
        // }
        // .imgbox {
        //     width: 100%;
        //     margin: 0;
        //     padding-top: 30px;
        //     img {
        //         width: 33.333%;
        //     }
        // }
        .ask {
            display: none;
        }
        .smallbox {
            display: block;
            margin-top: 60px;
        }
        .boxcontainer {
            display: none;
        }
        .imgbox {
            display: none;
        }
    }
    .shop {
        .prod {
            height: 70vh;
            .arrowLeft {
                display: block;
                top: 45vh;
            }
            .arrowRight {
                display: block;
                top: 45vh;
            }
        }
        ul.prod-list {
            width: 400%;
            height: 70vh;
            position: absolute;
            flex-wrap: nowrap;
            left: 0;
            top: 0;
            li.prod-item {
                width: 25%;
                .front {
                    width: 80%;
                    height: 60%;
                }
                .backed {
                    width: 80%;
                    height: 60%;
                }
            }
        }
    }
}