@include respond-to(small) {
    .container {
        max-width: 90%;
    }
    .banner {
        .search {
            select,input {
                font-size: 16px;
            }
        }
    }
    .pick-kit {
        ul{
            width: 600%;
        }
    }
    .half{
        .half-qty{
            img {
                width: 30px;
                height: 41.25px;
                margin: 0 5px;
            }
            span{
                align-self: flex-end;
            }
        }
    }
}