@include respond-to(medium) {
    .margin-200 {
        margin-left: 0;
    }
    .banner {
        .find {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
        .wait {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
        .findBox {
            display: block;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        select {
            margin: auto 3px;
        }
    }
    .game-point {
        .game-point-top {
            .game-qty-box {
                width: 80%;
            }
            .askBox {
                width: 260%;
            }
        }
        .game-point-title {
            text-align: center;
            width: 100%;
            display: inline-block;
        }
    }
    .pick-kit {
        .pick-title {
            text-align: center;
            width: 100%;
            display: inline-block;
        }
    }
    .half {
        .arrowLeft {
            display: block;
        }
        .arrowRight {
            display: block;
        }
        .half-title {
            text-align: center;
            width: 100%;
            display: inline-block;
            align-items: center;
        }
        ul.half-list {
            width: 300%;
            position: absolute;
            top: 15vh;
            display: flex;
            height: 70vh;
            li {
                width: 100%;
                .half-item {
                    height: 100%;
                    flex-direction: column;
                    .half-pic {
                        order: -1;
                        width: 100%;
                        height: 35vh;
                    }
                    .half-qty {
                        width: 100%;
                        height: 10vh;
                        img {
                            width: 35px;
                            height: 48px;
                        }
                        span {
                            align-self: center;
                        }
                    }
                    .half-text {
                        width: 100%;
                        height: 25vh;
                        .read-more {
                            display: block;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
    .noticegame {
        // .boxcontainer {
        //     width: 100%;
        //     #rightbox,
        //     #leftbox {
        //         width: 45%;
        //     }
        // }
        // .imgbox {
        //     img {
        //         width: 33.333%;
        //     }
        // }
        .game-point-title {
            width: 100%;
            display: inline-block;
            align-items: center;
        }
        .ask {
            display: none;
        }
        .smallask {
            display: block;
            margin: auto;
            padding-right: 3%;
            width: 60%;
            img {
                width: 100%;
                margin: auto;
            }
        }
        .boxcontainer {
            #rightbox,
            #leftbox {
                display: none;
            }
        }
        .imgbox {
            display: none;
        }
        .phone {
            display: block;
            #right,
            #left,
                {
                display: inline-block;
                width: 25%;
                margin-top: -230px;
                cursor: pointer;
                img {
                    width: 100%;
                }
            }
            #left {
                margin-right: 150px;
            }
            #right {
                margin-left: 150px;
            }
            .center {
                display: block;
                width: 100%;
                margin: 0 auto;
                img {
                    width: 30%;
                }
            }
        }
    }
    .shop {
        .prod {
            ul.prod-list {
                height: 80%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                li.prod-item {
                    width: 35%;
                }
            }
        }
    }
}