@include respond-to(medium) {
    .margin-200{
        margin-left: 0;
    }
    .banner{
        .findBox{
            display: block;
            text-align: center;
        }
    }
    .search{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        select{
            margin: auto 3px;
        }
    }
}